<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Mod-4-Project---Starter-Notebook" data-toc-modified-id="Mod-4-Project---Starter-Notebook-1">Mod 4 Project - Starter Notebook</a></span></li><li><span><a href="#Some-Notes-Before-Starting" data-toc-modified-id="Some-Notes-Before-Starting-2">Some Notes Before Starting</a></span><ul class="toc-item"><li><span><a href="#Wide-Format-vs-Long-Format" data-toc-modified-id="Wide-Format-vs-Long-Format-2.1">Wide Format vs Long Format</a></span></li></ul></li><li><span><a href="#Helper-Functions-Provided" data-toc-modified-id="Helper-Functions-Provided-3">Helper Functions Provided</a></span></li><li><span><a href="#Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes" data-toc-modified-id="Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes-4">Step 1: Load the Data/Filtering for Chosen Zipcodes</a></span></li><li><span><a href="#Step-2:-Data-Preprocessing" data-toc-modified-id="Step-2:-Data-Preprocessing-5">Step 2: Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Convert-time-data-type-to-datetime-format" data-toc-modified-id="Convert-time-data-type-to-datetime-format-5.1">Convert time data type to datetime format</a></span></li><li><span><a href="#Fix-problem-with-ZIP-codes-beginning-with-'0'" data-toc-modified-id="Fix-problem-with-ZIP-codes-beginning-with-'0'-5.2">Fix problem with ZIP codes beginning with '0'</a></span></li><li><span><a href="#Describe-dataframe-sorted-by-SizeRank" data-toc-modified-id="Describe-dataframe-sorted-by-SizeRank-5.3">Describe dataframe sorted by SizeRank</a></span><ul class="toc-item"><li><span><a href="#Calculating-means-of-values-in-date-columns-by-zipcodes" data-toc-modified-id="Calculating-means-of-values-in-date-columns-by-zipcodes-5.3.1">Calculating means of values in date columns by zipcodes</a></span></li></ul></li><li><span><a href="#Melt-Function" data-toc-modified-id="Melt-Function-5.4">Melt Function</a></span><ul class="toc-item"><li><span><a href="#Calculating-means-of-values-in-date-columns-by-zipcodes" data-toc-modified-id="Calculating-means-of-values-in-date-columns-by-zipcodes-5.4.1">Calculating means of values in date columns by zipcodes</a></span></li></ul></li><li><span><a href="#Sorting-values-by-zip-code" data-toc-modified-id="Sorting-values-by-zip-code-5.5">Sorting values by zip code</a></span></li><li><span><a href="#Setting-index-as-time-(df_melt1)" data-toc-modified-id="Setting-index-as-time-(df_melt1)-5.6">Setting index as time (df_melt1)</a></span></li><li><span><a href="#Creating-US-dataframes" data-toc-modified-id="Creating-US-dataframes-5.7">Creating US dataframes</a></span><ul class="toc-item"><li><span><a href="#Creating-US-metro-df-(df_metro)-with-Zip-annual-mean-value-and-dropping-RegionID" data-toc-modified-id="Creating-US-metro-df-(df_metro)-with-Zip-annual-mean-value-and-dropping-RegionID-5.7.1">Creating US metro df (df_metro) with <em>Zip</em> <em>annual</em> mean value and dropping RegionID</a></span><ul class="toc-item"><li><span><a href="#Creating-dictionary:--zip-code,-size-rank" data-toc-modified-id="Creating-dictionary:--zip-code,-size-rank-5.7.1.1">Creating dictionary:  zip code, size rank</a></span></li><li><span><a href="#Creating-dict_metro_zips-dictionary-with-zips-per-metro-area" data-toc-modified-id="Creating-dict_metro_zips-dictionary-with-zips-per-metro-area-5.7.1.2">Creating dict_metro_zips dictionary with zips per metro area</a></span></li><li><span><a href="#Create-dictionary-containing-a-count-of-the-number-of-zip-codes-in-a-metro-area" data-toc-modified-id="Create-dictionary-containing-a-count-of-the-number-of-zip-codes-in-a-metro-area-5.7.1.3">Create dictionary containing a count of the number of zip codes in a metro area</a></span></li></ul></li><li><span><a href="#Creating-US-metro-df-(df_metro)-with-Zip-annual-mean-value-and-dropping-RegionID-and-SizeRank" data-toc-modified-id="Creating-US-metro-df-(df_metro)-with-Zip-annual-mean-value-and-dropping-RegionID-and-SizeRank-5.7.2">Creating US metro df (df_metro) with <em>Zip</em> <em>annual</em> mean value and dropping RegionID and SizeRank</a></span><ul class="toc-item"><li><span><a href="#Creating-dict_metro_zips-dictionary-with-zips-per-metro-area" data-toc-modified-id="Creating-dict_metro_zips-dictionary-with-zips-per-metro-area-5.7.2.1">Creating dict_metro_zips dictionary with zips per metro area</a></span></li><li><span><a href="#Create-dictionary-containing-a-count-of-the-number-of-zip-codes-in-a-metro-area" data-toc-modified-id="Create-dictionary-containing-a-count-of-the-number-of-zip-codes-in-a-metro-area-5.7.2.2">Create dictionary containing a count of the number of zip codes in a metro area</a></span></li><li><span><a href="#Creating-dictionary-of-all-US-cities-and-their-zip-codes" data-toc-modified-id="Creating-dictionary-of-all-US-cities-and-their-zip-codes-5.7.2.3">Creating dictionary of all US cities and their zip codes</a></span></li><li><span><a href="#Create-dictionary-containing-a-count-of-the-number-of-zip-codes-by-city" data-toc-modified-id="Create-dictionary-containing-a-count-of-the-number-of-zip-codes-by-city-5.7.2.4">Create dictionary containing a count of the number of zip codes by city</a></span></li></ul></li><li><span><a href="#Creating-US-Metros-df-with-City-(df_metro_cities)-annual-mean-values-(df_metro_cities)" data-toc-modified-id="Creating-US-Metros-df-with-City-(df_metro_cities)-annual-mean-values-(df_metro_cities)-5.7.3">Creating US Metros df with <em>City</em> (df_metro_cities) <em>annual</em> mean values (df_metro_cities)</a></span><ul class="toc-item"><li><span><a href="#Creating-metro-area-list" data-toc-modified-id="Creating-metro-area-list-5.7.3.1">Creating metro area list</a></span></li><li><span><a href="#Creating-cities-list" data-toc-modified-id="Creating-cities-list-5.7.3.2">Creating cities list</a></span></li><li><span><a href="#Creating-dictionary-of-metro-areas-and-the-cities-in-each" data-toc-modified-id="Creating-dictionary-of-metro-areas-and-the-cities-in-each-5.7.3.3">Creating dictionary of metro areas and the cities in each</a></span></li></ul></li><li><span><a href="#Creating-US-Metros-df-with-Metro-(df_metro_values)-annual-mean-values" data-toc-modified-id="Creating-US-Metros-df-with-Metro-(df_metro_values)-annual-mean-values-5.7.4">Creating US Metros df with <em>Metro</em> (df_metro_values) <em>annual</em> mean values</a></span><ul class="toc-item"><li><span><a href="#Creating-dictionary-of-metro-areas-and-number-of-entries-(proxy-for-size-of-metro-area)" data-toc-modified-id="Creating-dictionary-of-metro-areas-and-number-of-entries-(proxy-for-size-of-metro-area)-5.7.4.1">Creating dictionary of metro areas and number of entries (proxy for size of metro area)</a></span></li><li><span><a href="#Creating-dictionary-object-of-dict_metro_size" data-toc-modified-id="Creating-dictionary-object-of-dict_metro_size-5.7.4.2">Creating dictionary object of dict_metro_size</a></span></li><li><span><a href="#Creating-list--(list-of-tuples)-from-dict_metro_size-object" data-toc-modified-id="Creating-list--(list-of-tuples)-from-dict_metro_size-object-5.7.4.3">Creating list  (list of tuples) from dict_metro_size object</a></span></li><li><span><a href="#Creating-list-of-the-thirty-largest-metro-areas" data-toc-modified-id="Creating-list-of-the-thirty-largest-metro-areas-5.7.4.4">Creating list of the thirty largest metro areas</a></span></li><li><span><a href="#Creating-list-from-[0]-index-in-each-tuple" data-toc-modified-id="Creating-list-from-[0]-index-in-each-tuple-5.7.4.5">Creating list from [0] index in each tuple</a></span></li><li><span><a href="#Iterating-over-dictionary-to-plot-values-by-largest-metro-areas" data-toc-modified-id="Iterating-over-dictionary-to-plot-values-by-largest-metro-areas-5.7.4.6">Iterating over dictionary to plot values by largest metro areas</a></span></li></ul></li><li><span><a href="#Creating-US-Metro-df-with-Metro-(df_metro_values_state)-annual-values-and-state-included" data-toc-modified-id="Creating-US-Metro-df-with-Metro-(df_metro_values_state)-annual-values-and-state-included-5.7.5">Creating US Metro df with <em>Metro</em> (df_metro_values_state) <em>annual</em> values and state included</a></span></li><li><span><a href="#Creating-US-Metro-df-with-City-(df_metro_state_city)-annual-values-and-state-included" data-toc-modified-id="Creating-US-Metro-df-with-City-(df_metro_state_city)-annual-values-and-state-included-5.7.6">Creating US Metro df with <em>City</em> (df_metro_state_city) <em>annual</em> values and state included</a></span></li></ul></li><li><span><a href="#Creating-Sacramento-Metro-dataframes" data-toc-modified-id="Creating-Sacramento-Metro-dataframes-5.8">Creating Sacramento Metro dataframes</a></span><ul class="toc-item"><li><span><a href="#Creating-df_sac-monthly-values-from-original-melted-df-before-grouping-by-time-and-zip-(df_melt1)" data-toc-modified-id="Creating-df_sac-monthly-values-from-original-melted-df-before-grouping-by-time-and-zip-(df_melt1)-5.8.1">Creating df_sac <em>monthly</em> values from original melted df before grouping by time and zip (df_melt1)</a></span><ul class="toc-item"><li><span><a href="#Creating-sac_metro_cities-list-from-df_sac" data-toc-modified-id="Creating-sac_metro_cities-list-from-df_sac-5.8.1.1">Creating sac_metro_cities list from df_sac</a></span></li><li><span><a href="#Creating-dict_zips_cities-dictionary-in-an-attempt-to-graph-zips-by-city..." data-toc-modified-id="Creating-dict_zips_cities-dictionary-in-an-attempt-to-graph-zips-by-city...-5.8.1.2">Creating dict_zips_cities dictionary in an attempt to graph zips by city...</a></span></li><li><span><a href="#Iterating-over-dictionary-to-plot-zips-by-city" data-toc-modified-id="Iterating-over-dictionary-to-plot-zips-by-city-5.8.1.3">Iterating over dictionary to plot zips by city</a></span></li></ul></li><li><span><a href="#Creating-df_sac_yr_city-annual-values-by-County,-City-using-df_melt1" data-toc-modified-id="Creating-df_sac_yr_city-annual-values-by-County,-City-using-df_melt1-5.8.2">Creating df_sac_yr_city <em>annual</em> values by <em>County, City</em> using df_melt1</a></span></li><li><span><a href="#Creating-df_sac_zip-monthly-value,-grouped-by-County,-City,-Zip-using-df_melt1" data-toc-modified-id="Creating-df_sac_zip-monthly-value,-grouped-by-County,-City,-Zip-using-df_melt1-5.8.3">Creating df_sac_zip <em>monthly</em> value, grouped by <em>County, City, Zip</em> using df_melt1</a></span></li><li><span><a href="#Creating-df_sac_yr_zip-annual-values,-grouped-by-City,-Zip-using-df_melt" data-toc-modified-id="Creating-df_sac_yr_zip-annual-values,-grouped-by-City,-Zip-using-df_melt-5.8.4">Creating df_sac_yr_zip <em>annual</em> values, grouped by <em>City, Zip</em> using df_melt</a></span><ul class="toc-item"><li><span><a href="#Plotting-City-of-Sacramento-annual-values-by-zip-code" data-toc-modified-id="Plotting-City-of-Sacramento-annual-values-by-zip-code-5.8.4.1">Plotting City of Sacramento annual values by zip code</a></span></li><li><span><a href="#Plotting-annual-values-by-city-(no-zip-codes)" data-toc-modified-id="Plotting-annual-values-by-city-(no-zip-codes)-5.8.4.2">Plotting annual values by <em>city</em> (no zip codes)</a></span></li></ul></li><li><span><a href="#Creating-df_sac_yr_cty_zip-annual-values,-grouped-by-County,-City,-Zip" data-toc-modified-id="Creating-df_sac_yr_cty_zip-annual-values,-grouped-by-County,-City,-Zip-5.8.5">Creating df_sac_yr_cty_zip <em>annual</em> values, grouped by County, City, Zip</a></span></li><li><span><a href="#Creating-City-DFs-with-monthly-values-by-zip-code" data-toc-modified-id="Creating-City-DFs-with-monthly-values-by-zip-code-5.8.6">Creating City DFs with <em>monthly</em> values by zip code</a></span><ul class="toc-item"><li><span><a href="#Creating-plot-from-single-city-df-(df_56)" data-toc-modified-id="Creating-plot-from-single-city-df-(df_56)-5.8.6.1">Creating plot from single city df (df_56)</a></span></li><li><span><a href="#Plotting-values-by-iterating-through-cities-list" data-toc-modified-id="Plotting-values-by-iterating-through-cities-list-5.8.6.2">Plotting values by iterating through cities list</a></span></li></ul></li><li><span><a href="#df_melt2----setting-time-and-Zip-as-indices" data-toc-modified-id="df_melt2----setting-time-and-Zip-as-indices-5.8.7">df_melt2 -- setting time and Zip as indices</a></span></li><li><span><a href="#Creating-df_sac_2-from-df_melt2" data-toc-modified-id="Creating-df_sac_2-from-df_melt2-5.8.8">Creating df_sac_2 from df_melt2</a></span></li><li><span><a href="#Creating-df_cal-from-df_melt2" data-toc-modified-id="Creating-df_cal-from-df_melt2-5.8.9">Creating df_cal from df_melt2</a></span></li><li><span><a href="#Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)" data-toc-modified-id="Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)-5.8.10">Creating df_sac_yr with annual mean prices using df_sac from df_melt1)</a></span></li></ul></li></ul></li><li><span><a href="#Step-3:-EDA-and-Visualization" data-toc-modified-id="Step-3:-EDA-and-Visualization-6">Step 3: EDA and Visualization</a></span><ul class="toc-item"><li><span><a href="#Pick-a-subset-of-data-and-move-forward-with-that." data-toc-modified-id="Pick-a-subset-of-data-and-move-forward-with-that.-6.1">Pick a subset of data and move forward with that.</a></span></li></ul></li><li><span><a href="#Step-4:--ARIMA-Modeling" data-toc-modified-id="Step-4:--ARIMA-Modeling-7">Step 4:  ARIMA Modeling</a></span></li><li><span><a href="#Step-5:-Interpreting-Results" data-toc-modified-id="Step-5:-Interpreting-Results-8">Step 5: Interpreting Results</a></span></li><li><span><a href="#Ancillary-Functions" data-toc-modified-id="Ancillary-Functions-9">Ancillary Functions</a></span><ul class="toc-item"><li><span><a href="#Setting-time-and-Zip-as-indices-(df_melt2)" data-toc-modified-id="Setting-time-and-Zip-as-indices-(df_melt2)-9.1">Setting time and Zip as indices (df_melt2)</a></span></li><li><span><a href="#Creating-df_sac_2-from-df_melt2" data-toc-modified-id="Creating-df_sac_2-from-df_melt2-9.2">Creating df_sac_2 from df_melt2</a></span></li><li><span><a href="#Creating-df_cal-from-df_melt2" data-toc-modified-id="Creating-df_cal-from-df_melt2-9.3">Creating df_cal from df_melt2</a></span></li><li><span><a href="#Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)" data-toc-modified-id="Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)-9.4">Creating df_sac_yr with annual mean prices using df_sac from df_melt1)</a></span></li></ul></li></ul></div>

# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='~/../images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='~/../images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!

# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import numpy as np
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

In [2]:
pd.set_option("display.max_rows", 1000)

In [3]:
pd.get_option("display.max_rows")

1000

In [4]:
# from fsds_100719.imports import *

In [93]:
df = pd.read_csv('zillow_data.csv')

In [94]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [7]:
df.loc[df.RegionName == 95616]     # also acceptable:  df.loc[df['RegionName'] == 95616]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
954,98312,95616,Davis,CA,Sacramento,Yolo,955,202500.0,202500.0,202500.0,...,683600,682800,679400,674400,677200,687700,696700,697500,695000,692300

# Step 2: Data Preprocessing

## Convert time data type to datetime format

In [95]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m', errors = 'raise')

In [96]:
get_datetimes(df)

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

## Fix problem with ZIP codes beginning with '0'

I have surmised that RegionName is the ZIP code for each entry.  RegionName values with only 4 digits represent ZIP codes that actually begin with '0'.  So that I can work with ZIP codes in the data set, I will need to add that zero onto every 4-digit RegionName value.  Once that's completed, I'll rename this column "ZipCode".

In [97]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [98]:
df.head(50)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
8,91940,77449,Katy,TX,Houston,Harris,9,95400.0,95600.0,95800.0,...,166800,167400,168400,169600,170900,172300,173300,174200,175400,176200
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500
10,62037,11226,New York,NY,New York,Kings,11,162000.0,162300.0,162600.0,...,860200,851000,853900,870000,885100,887800,890500,901700,930700,963200
11,71831,32162,The Villages,FL,The Villages,Sumter,12,101000.0,100700.0,100400.0,...,249900,250400,249900,248700,247500,247100,246800,247500,249800,251800
12,62087,11375,New York,NY,New York,Queens,13,252400.0,251800.0,251400.0,...,1022600,1033700,1048600,1066400,1081200,1088800,1092700,1089500,1084000,1084600
13,62045,11235,New York,NY,New York,Kings,14,190500.0,191000.0,191500.0,...,767300,777300,788800,793900,796000,799700,806600,810600,813400,816200
14,74101,37013,Nashville,TN,Nashville,Davidson,15,112400.0,112700.0,113000.0,...,193000,194900,196600,198800,201300,203800,205900,207600,210000,211900
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,16,152500.0,152600.0,152600.0,...,579300,585700,590900,594700,598500,601300,602800,606100,612400,616200
16,84646,60647,Chicago,IL,Chicago,Cook,17,122700.0,122800.0,122800.0,...,459600,461400,464300,466500,467900,470600,474500,475100,472600,470200
17,74242,37211,Nashville,TN,Nashville,Davidson,18,97900.0,98000.0,98200.0,...,243100,245000,246700,248800,251100,253900,256500,259000,262100,264200
18,92593,78660,Pflugerville,TX,Austin,Travis,19,138900.0,138600.0,138400.0,...,235000,235900,236600,237400,238500,239400,240000,241000,242200,242800
19,84620,60618,Chicago,IL,Chicago,Cook,20,142600.0,143100.0,143400.0,...,462700,461200,459900,459200,458700,457900,457400,459000,462500,464300
20,61625,10011,New York,NY,New York,New York,21,NaN,NaN,NaN,...,12137600,12112600,12036600,12050100,12016300,11946500,11978100,11849300,11563000,11478300
21,61703,10128,New York,NY,New York,New York,22,3676700.0,3704200.0,3729600.0,...,7410100,7422400,7417600,7427300,7371400,7342700,7353300,7350300,7363000,7386600
22,92036,77573,League City,TX,Houston,Galveston,23,141400.0,141000.0,140600.0,...,249800,251300,252300,252400,252300,253100,254700,257100,259800,261400
23,92045,77584,Pearland,TX,Houston,Brazoria,24,138500.0,138700.0,139200.0,...,249100,249900,250500,250700,251000,251400,251900,253200,255100,256500
24,69816,28269,Charlotte,NC,Charlotte,Mecklenburg,25,126100.0,126600.0,127100.0,...,184700,186600,188200,189800,191700,193500,195100,196600,198500,199700
25,93123,79912,El Paso,TX,El Paso,El Paso,26,119700.0,119700.0,119800.0,...,183200,183700,184500,185300,185300,184700,184800,185900,187200,188100
26,92515,78572,Mission,TX,McAllen,Hidalgo,27,69900.0,69700.0,69600.0,...,99800,100300,100300,100100,100000,100100,99700,100200,102100,103900
27,97771,94565,Pittsburg,CA,San Francisco,Contra Costa,28,139200.0,138300.0,137500.0,...,394900,398400,401600,405400,408600,410900,413700,417900,424300,430100
28,71067,30349,Riverdale,GA,Atlanta,Clayton,29,90900.0,91100.0,91200.0,...,118700,119900,121400,122900,123800,124600,126200,127300,127700,128100
29,66126,20002,Washington,DC,Washington,District of Columbia,30,94300.0,94000.0,93700.0,...,662800,668000,672200,673100,674600,678200,680900,683000,687500,691300
30,96027,90046,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,31,340600.0,341700.0,343000.0,...,1839800,1861100,1888600,1903900,1907500,1922100,1952400,1974500,1975900,1966900
31,92271,78130,New Braunfels,TX,San Antonio,Comal,32,123900.0,123900.0,123800.0,...,208300,209600,211300,212800,214300,215500,216000,217200,219500,221100
32,92551,78613,Cedar Park,TX,Austin,Williamson,33,169600.0,169000.0,168600.0,...,291400,291700,292700,294400,295800,296200,295900,296400,297500,297300
33,66133,20009,Washington,DC,Washington,District of Columbia,34,178800.0,179200.0,179600.0,...,1020000,1027500,1034300,1040500,1047400,1055400,1065900,1076400,1081000,1078200
34,90654,75052,Grand Prairie,TX,Dallas-Fort Worth,Dallas,35,100800.0,100900.0,101000.0,...,186700,188200,189700,191400,193000,194300,195200,196700,199100,201100
35,61802,10462,New York,NY,New York,Bronx,36,154300.0,154300.0,154400.0,...,432800,436100,439900,443500,444100,443900,446000,446400,447200,450200
36,61796,10456,New York,NY,New York,Bronx,37,NaN,NaN,NaN,...,357900,357100,356500,357200,362000,368500,374100,379800,388100,394400
37,74126,37042,Clarksville,TN,Clarksville,Montgomery,38,72000.0,73100.0,74100.0,...,125200,125100,125000,125300,126100,127000,127900,129000,129900,130500
38,91922,77429,Cypress,TX,Houston,Harris,39,149600.0,148800.0,148100.0,...,237500,238000,238500,239200,240200,241300,241700,242200,243200,243800
39,86026,63376,Saint Peters,MO,St. Louis,Saint Charles,40,98200.0,98700.0,99300.0,...,186800,187800,188700,189200,189600,190000,190300,190400,191100,191900
40,84615,60613,Chicago,IL,Chicago,Cook,41,297900.0,300400.0,302600.0,...,1015000,1017600,1020900,1027800,1034400,1041300,1051300,1059300,1060200,1055300
41,91968,77479,Sugar Land,TX,Houston,Fort Bend,42,189800.0,188500.0,187300.0,...,363800,363800,364000,363700,364000,365000,366400,366900,366900,366900
42,70829,30044,Lawrenceville,GA,Atlanta,Gwinnett,43,111400.0,111800.0,112200.0,...,169500,170900,172800,174700,176400,178500,180100,181000,182200,183400
43,89925,73099,Yukon,OK,Oklahoma City,Canadian,44,83100.0,83800.0,84000.0,...,160400,160200,159800,159900,160000,160000,160300,161000,161600,162000
44,91685,77036,Houston,TX,Houston,Harris,45,120400.0,118700.0,117300.0,...,174900,174600,175000,176000,177200,177700,177700,179800,185100,189800
45,91926,77433,Cypress,TX,Houston,Harris,46,147300.0,147600.0,148100.0,...,245100,246000,246900,247600,248300,249200,249800,250200,251500,252600
46,61803,10463,New York,NY,New York,Bronx,47,180100.0,181000.0,181900.0,...,680800,684500,692000,700900,710200,726900,744500,757000,769400,778700
47,62040,11230,New York,NY,New York,Kings,48,230100.0,230800.0,231500.0,...,1079200,1082700,1082800,1084900,1091200,1102400,1120200,1141600,1170000,1195400
48,84630,60629,Chicago,IL,Chicago,Cook,49,93400.0,94100.0,94600.0,...,157600,158600,159500,160600,161700,162600,163500,164000,164000,163800
49,62020,11209,New York,NY,New York,Kings,50,255700.0,256600.0,257300.0,...,1005000,1013400,1019500,1024400,1024900,1018900,1023500,1029200,1023000,1015800

In [99]:
# df.RegionName.sort_values().head(10)

df.sort_values(by="RegionName").head(7)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,1001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,1002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,1005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,1007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,1008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200
11702,58204,1010,Brimfield,MA,Springfield,Hampden,11703,115800.0,115700.0,115500.0,...,246400,247500,249100,248800,245400,243800,244600,246700,248800,250900
14475,58205,1011,Chester,MA,Springfield,Hampden,14476,87000.0,87000.0,87100.0,...,160200,156700,156600,157700,155400,151400,150100,150100,149500,149100

In [100]:
df['RegionName'] = df.RegionName.astype(str)
df['RegionName'].dtype

dtype('O')

In [101]:
df.rename(columns={'RegionName': 'Zip'}, inplace=True)
df.columns
df.head()

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [102]:
zips = []

for i in df['Zip']:
    if len(i) < 5:
        i = '0' + i
        zips.append(i)
    else:
        zips.append(i)

zips
df['Zip'] = pd.Series(zips)
df.sort_values(by='Zip').head(10)
# df.head()

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
5850,58196,01001,Agawam,MA,Springfield,Hampden,5851,113100.0,112800.0,112600.0,...,213900,215700,218200,220100,221100,221700,221700,221700,222700,223600
4199,58197,01002,Amherst,MA,Springfield,Hampshire,4200,161000.0,160100.0,159300.0,...,333700,334800,336700,338900,340400,342000,344500,347400,350600,353300
11213,58200,01005,Barre,MA,Worcester,Worcester,11214,103100.0,103400.0,103600.0,...,205600,206800,208800,210400,211300,213300,215600,217900,219500,220700
6850,58201,01007,Belchertown,MA,Springfield,Hampshire,6851,133400.0,132700.0,132000.0,...,266100,266300,267000,267500,268000,268100,268100,268800,270000,270600
14547,58202,01008,Blandford,MA,Springfield,Hampden,14548,117500.0,117300.0,117100.0,...,202400,202900,205900,208500,207500,205400,204500,206800,210900,214200
11702,58204,01010,Brimfield,MA,Springfield,Hampden,11703,115800.0,115700.0,115500.0,...,246400,247500,249100,248800,245400,243800,244600,246700,248800,250900
14475,58205,01011,Chester,MA,Springfield,Hampden,14476,87000.0,87000.0,87100.0,...,160200,156700,156600,157700,155400,151400,150100,150100,149500,149100
4568,58207,01013,Chicopee,MA,Springfield,Hampden,4569,88500.0,88500.0,88400.0,...,167700,169300,171100,171900,172300,173300,174600,175900,176900,177400
2694,58209,01020,Chicopee,MA,Springfield,Hampden,2695,97200.0,97100.0,97000.0,...,178600,181000,184100,186100,186800,187400,188100,189000,189600,189800
14594,58212,01026,Cummington,MA,Springfield,Hampshire,14595,91200.0,91100.0,91000.0,...,193400,195900,200800,202600,201800,201200,204600,211200,217900,220800

## Describe dataframe sorted by SizeRank

In [103]:
df.loc[df['SizeRank'] == 30].describe()

,RegionID,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,66126.0,30.0,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800.0,668000.0,672200.0,673100.0,674600.0,678200.0,680900.0,683000.0,687500.0,691300.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,66126.0,30.0,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800.0,668000.0,672200.0,673100.0,674600.0,678200.0,680900.0,683000.0,687500.0,691300.0
25%,66126.0,30.0,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800.0,668000.0,672200.0,673100.0,674600.0,678200.0,680900.0,683000.0,687500.0,691300.0
50%,66126.0,30.0,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800.0,668000.0,672200.0,673100.0,674600.0,678200.0,680900.0,683000.0,687500.0,691300.0
75%,66126.0,30.0,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800.0,668000.0,672200.0,673100.0,674600.0,678200.0,680900.0,683000.0,687500.0,691300.0
max,66126.0,30.0,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,...,662800.0,668000.0,672200.0,673100.0,674600.0,678200.0,680900.0,683000.0,687500.0,691300.0

### Calculating means of values in date columns by zipcodes

In [104]:
# df_dates = df[df.columns[8:272]].copy()
# df_dates

## Melt Function

In [18]:
# The function below is from the original starter notebook. 
# I modified the function to return the entire melted df, not the 
# melted dataframe grouped by time and aggregated by mean value
# (the pd.IndexSlice method might work to resolve this issue...?)

# from JI notebook:  df = df2.loc[pd.IndexSlice[:, '2014-01-01':], :].copy()
# df.reset_index(inplace=True, level=0, drop=True)
# ts = df['value'].loc['2010':]
# ts = df.loc[df['Zip']==1267]
# ts = df.loc[df['Zip']==1267]["value"].rename(1267)
# ts = ts.resample('MS').asfreq()
# ts.plot()

# def melt_data(df):
#     melted = pd.melt(df, id_vars=['RegionID', 'Zip', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
#     melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
#     melted = melted.dropna(subset=['value'])
#     return melted.groupby('time').aggregate({'value':'mean'})

# df_melt = melt_data(df)

In [105]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionID', 'Zip', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

In [106]:
df_melt = melt_data(df)

In [107]:
df_melt.head()

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0

Dataframe is sorted by SizeRank by default.  Looking at first 30 ZIP Codes by SizeRank:

In [110]:
df_melt.head(30)

,RegionID,Zip,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0
5,91733,77084,Houston,TX,Houston,Harris,6,1996-04-01,95000.0
6,61807,10467,New York,NY,New York,Bronx,7,1996-04-01,152900.0
7,84640,60640,Chicago,IL,Chicago,Cook,8,1996-04-01,216500.0
8,91940,77449,Katy,TX,Houston,Harris,9,1996-04-01,95400.0
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,1996-04-01,766000.0
10,62037,11226,New York,NY,New York,Kings,11,1996-04-01,162000.0
11,71831,32162,The Villages,FL,The Villages,Sumter,12,1996-04-01,101000.0
12,62087,11375,New York,NY,New York,Queens,13,1996-04-01,252400.0
13,62045,11235,New York,NY,New York,Kings,14,1996-04-01,190500.0
14,74101,37013,Nashville,TN,Nashville,Davidson,15,1996-04-01,112400.0
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,16,1996-04-01,152500.0
16,84646,60647,Chicago,IL,Chicago,Cook,17,1996-04-01,122700.0
17,74242,37211,Nashville,TN,Nashville,Davidson,18,1996-04-01,97900.0
18,92593,78660,Pflugerville,TX,Austin,Travis,19,1996-04-01,138900.0
19,84620,60618,Chicago,IL,Chicago,Cook,20,1996-04-01,142600.0
21,61703,10128,New York,NY,New York,New York,22,1996-04-01,3676700.0
22,92036,77573,League City,TX,Houston,Galveston,23,1996-04-01,141400.0
23,92045,77584,Pearland,TX,Houston,Brazoria,24,1996-04-01,138500.0
24,69816,28269,Charlotte,NC,Charlotte,Mecklenburg,25,1996-04-01,126100.0
25,93123,79912,El Paso,TX,El Paso,El Paso,26,1996-04-01,119700.0
26,92515,78572,Mission,TX,McAllen,Hidalgo,27,1996-04-01,69900.0
27,97771,94565,Pittsburg,CA,San Francisco,Contra Costa,28,1996-04-01,139200.0
28,71067,30349,Riverdale,GA,Atlanta,Clayton,29,1996-04-01,90900.0
29,66126,20002,Washington,DC,Washington,District of Columbia,30,1996-04-01,94300.0
30,96027,90046,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,31,1996-04-01,340600.0

Note that a few zip codes are missing; these rows were eliminated when Zip codes with NaN values in the 'value' column were dropped.

In [117]:
df_melt.nunique()

RegionID      14723
Zip           14723
City           7554
State            51
Metro           701
CountyName     1212
SizeRank      14723
time            265
value         24372
dtype: int64

### Calculating means of values in date columns by zipcodes

In [237]:
df_melt_means = df_melt.groupby(['Zip', 'City', 'Metro', 'State']).mean().reset_index()
df_melt_means.head()

     Zip         City        Metro State  RegionID  SizeRank          value
0  01001       Agawam  Springfield    MA     58196      5851  174509.811321
1  01002      Amherst  Springfield    MA     58197      4200  273152.452830
2  01005        Barre    Worcester    MA     58200     11214  172650.943396
3  01007  Belchertown  Springfield    MA     58201      6851  217938.113208
4  01008    Blandford  Springfield    MA     58202     14548  175319.622642

In [238]:
# gapminder.rename(columns={'pop':'population',
#                           'lifeExp':'life_exp',
#                           'gdpPercap':'gdp_per_cap'}, 
#                  inplace=True)

df_melt_means.rename(columns={'value': 'mean'}, inplace=True)

In [239]:
df_melt_means.head()

     Zip         City        Metro State  RegionID  SizeRank           mean
0  01001       Agawam  Springfield    MA     58196      5851  174509.811321
1  01002      Amherst  Springfield    MA     58197      4200  273152.452830
2  01005        Barre    Worcester    MA     58200     11214  172650.943396
3  01007  Belchertown  Springfield    MA     58201      6851  217938.113208
4  01008    Blandford  Springfield    MA     58202     14548  175319.622642

In [240]:
df_melt_means['mean'] = df_melt_means['mean'].round()
df_melt_means['mean']

0        174510.0
1        273152.0
2        172651.0
3        217938.0
4        175320.0
           ...
13675    206160.0
13676    209635.0
13677    217032.0
13678    290029.0
13679    216198.0
Name: mean, Length: 13680, dtype: float64

In [241]:
df_melt_means.head()

     Zip         City        Metro State  RegionID  SizeRank      mean
0  01001       Agawam  Springfield    MA     58196      5851  174510.0
1  01002      Amherst  Springfield    MA     58197      4200  273152.0
2  01005        Barre    Worcester    MA     58200     11214  172651.0
3  01007  Belchertown  Springfield    MA     58201      6851  217938.0
4  01008    Blandford  Springfield    MA     58202     14548  175320.0

In [246]:
df_melt_max = df_melt.groupby(['Zip', 'City', 'Metro', 'State']).max().reset_index()

In [247]:
df_melt_max.head()

,Zip,City,Metro,State,RegionID,CountyName,SizeRank,time,value
0,01001,Agawam,Springfield,MA,58196,Hampden,5851,2018-04-01,223600.0
1,01002,Amherst,Springfield,MA,58197,Hampshire,4200,2018-04-01,353300.0
2,01005,Barre,Worcester,MA,58200,Worcester,11214,2018-04-01,237500.0
3,01007,Belchertown,Springfield,MA,58201,Hampshire,6851,2018-04-01,271600.0
4,01008,Blandford,Springfield,MA,58202,Hampden,14548,2018-04-01,227100.0

In [248]:
df_melt_max.rename(columns={'value': 'max'}, inplace=True)

In [249]:
df_melt_max.head()

,Zip,City,Metro,State,RegionID,CountyName,SizeRank,time,max
0,01001,Agawam,Springfield,MA,58196,Hampden,5851,2018-04-01,223600.0
1,01002,Amherst,Springfield,MA,58197,Hampshire,4200,2018-04-01,353300.0
2,01005,Barre,Worcester,MA,58200,Worcester,11214,2018-04-01,237500.0
3,01007,Belchertown,Springfield,MA,58201,Hampshire,6851,2018-04-01,271600.0
4,01008,Blandford,Springfield,MA,58202,Hampden,14548,2018-04-01,227100.0

In [250]:
df_melt_min = df_melt.groupby(['Zip', 'City', 'Metro', 'State']).min().reset_index()

In [251]:
df_melt_min.rename(columns={'value': 'min'}, inplace=True)

In [252]:
df_melt_min.head()

,Zip,City,Metro,State,RegionID,CountyName,SizeRank,time,min
0,01001,Agawam,Springfield,MA,58196,Hampden,5851,1996-04-01,111700.0
1,01002,Amherst,Springfield,MA,58197,Hampshire,4200,1996-04-01,157100.0
2,01005,Barre,Worcester,MA,58200,Worcester,11214,1996-04-01,103100.0
3,01007,Belchertown,Springfield,MA,58201,Hampshire,6851,1996-04-01,130200.0
4,01008,Blandford,Springfield,MA,58202,Hampden,14548,1996-04-01,116300.0

In [253]:
df_melt_calcs = pd.concat([df_melt_means, df_melt_max['max'], 
                           df_melt_min['min']], axis=1)
df_melt_calcs.head()

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min
0,01001,Agawam,Springfield,MA,58196,5851,174510.0,223600.0,111700.0
1,01002,Amherst,Springfield,MA,58197,4200,273152.0,353300.0,157100.0
2,01005,Barre,Worcester,MA,58200,11214,172651.0,237500.0,103100.0
3,01007,Belchertown,Springfield,MA,58201,6851,217938.0,271600.0,130200.0
4,01008,Blandford,Springfield,MA,58202,14548,175320.0,227100.0,116300.0

In [254]:
df_melt_calcs['max-min'] = np.nan

In [255]:
df_melt_calcs.head()

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min
0,01001,Agawam,Springfield,MA,58196,5851,174510.0,223600.0,111700.0,NaN
1,01002,Amherst,Springfield,MA,58197,4200,273152.0,353300.0,157100.0,NaN
2,01005,Barre,Worcester,MA,58200,11214,172651.0,237500.0,103100.0,NaN
3,01007,Belchertown,Springfield,MA,58201,6851,217938.0,271600.0,130200.0,NaN
4,01008,Blandford,Springfield,MA,58202,14548,175320.0,227100.0,116300.0,NaN

In [256]:
df_melt_calcs['max'].loc[df_melt_calcs['Zip'] == '95616']

12930    697500.0
Name: max, dtype: float64

In [257]:
df_melt_calcs['min'].loc[df_melt_calcs['Zip'] == '95616']

12930    202500.0
Name: min, dtype: float64

In [258]:
diff_davis = df_melt_calcs['max'].loc[df_melt_calcs['Zip'] == '95616'] - df_melt_calcs['min'].loc[df_melt_calcs['Zip'] == '95616']

In [259]:
diff_davis

12930    495000.0
dtype: float64

In [262]:
for zc in df_melt_calcs['Zip']:
    df_melt_calcs['max-min'].loc[df_melt_calcs['Zip'] == zc] = df_melt_calcs['max'].loc[df_melt_calcs['Zip'] == zc] - df_melt_calcs['min'].loc[df_melt_calcs['Zip'] == zc]

In [263]:
df_melt_calcs.head()

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min
0,01001,Agawam,Springfield,MA,58196,5851,174510.0,223600.0,111700.0,111900.0
1,01002,Amherst,Springfield,MA,58197,4200,273152.0,353300.0,157100.0,196200.0
2,01005,Barre,Worcester,MA,58200,11214,172651.0,237500.0,103100.0,134400.0
3,01007,Belchertown,Springfield,MA,58201,6851,217938.0,271600.0,130200.0,141400.0
4,01008,Blandford,Springfield,MA,58202,14548,175320.0,227100.0,116300.0,110800.0

In [268]:
df_melt_calcs.sort_values(by='SizeRank')

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min
8910,60657,Chicago,Chicago,IL,84654,1,743979.0,1033800.0,334200.0,699600.0
10209,75070,McKinney,Dallas-Fort Worth,TX,90668,2,219656.0,321800.0,186900.0,134900.0
10669,77494,Katy,Houston,TX,91982,3,262111.0,330000.0,191800.0,138200.0
8879,60614,Chicago,Chicago,IL,84616,4,974139.0,1308500.0,494700.0,813800.0
11042,79936,El Paso,El Paso,TX,93144,5,101875.0,132300.0,77300.0,55000.0
...,...,...,...,...,...,...,...,...,...,...
13139,97028,Rhododendron,Portland,OR,99032,14717,241922.0,386700.0,115600.0,271100.0
72,01338,Ashfield,Greenfield Town,MA,58333,14719,165064.0,218600.0,92600.0,126000.0
558,03293,Woodstock,Claremont,NH,59107,14720,162662.0,231700.0,87100.0,144600.0
6280,40404,Berea,Richmond,KY,75672,14721,97274.0,133400.0,57100.0,76300.0
11830,89155,Mesquite,Las Vegas,NV,95851,14723,269846.0,452500.0,175800.0,276700.0

In [271]:
df_melt_calcs.sort_values(by='max-min', ascending=False).head(50)

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min
1382,10021,New York,New York,NY,61635,273,12854267.0,19314900.0,8601100.0,10713800.0
1380,10011,New York,New York,NY,61625,21,7755844.0,12137600.0,3762100.0,8375500.0
1381,10014,New York,New York,NY,61628,509,6836902.0,10143700.0,3290000.0,6853700.0
1383,10128,New York,New York,NY,61703,22,5085436.0,8558700.0,2903800.0,5654900.0
12615,94027,Atherton,San Francisco,CA,97518,10238,3487129.0,6796500.0,1179200.0,5617300.0
11933,90210,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96086,4817,2789977.0,5956700.0,1015400.0,4941300.0
12653,94301,Palo Alto,San Jose,CA,97691,5739,2084380.0,4818400.0,709500.0,4108900.0
12646,94123,San Francisco,San Francisco,CA,97577,2027,2630977.0,4682300.0,849100.0,3833200.0
5288,33480,Palm Beach,Miami-Fort Lauderdale,FL,72636,4724,2634498.0,4692300.0,957800.0,3734500.0
12612,94022,Los Altos,San Jose,CA,97513,5844,2066818.0,4372600.0,795600.0,3577000.0
12640,94115,San Francisco,San Francisco,CA,97569,743,2399030.0,4172600.0,794000.0,3378600.0
11264,81611,Aspen,Glenwood Springs,CO,93816,7597,3147124.0,4766600.0,1443100.0,3323500.0
11971,90402,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96149,7381,2292232.0,4179000.0,880000.0,3299000.0
11892,90020,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96001,986,2149644.0,3842700.0,711600.0,3131100.0
1751,11975,Wainscott,New York,NY,62320,13865,1574227.0,3473300.0,349500.0,3123800.0
12636,94109,San Francisco,San Francisco,CA,97564,10,2395636.0,3813500.0,766000.0,3047500.0
12655,94305,Stanford,San Jose,CA,97695,8257,1918675.0,3698800.0,736900.0,2961900.0
12613,94024,Los Altos,San Jose,CA,97515,5415,1665525.0,3562600.0,612200.0,2950400.0
12616,94028,Portola Valley,San Francisco,CA,97519,10009,2131495.0,3721100.0,845600.0,2875500.0
12656,94306,Palo Alto,San Jose,CA,97696,3340,1366252.0,3285100.0,440600.0,2844500.0
1752,11976,Water Mill,New York,NY,62321,11173,1803404.0,3241400.0,400000.0,2841400.0
1727,11930,Amagansett,New York,NY,62281,11729,1462925.0,3141100.0,318400.0,2822700.0
11953,90265,Malibu,Los Angeles-Long Beach-Anaheim,CA,96116,5262,1876195.0,3474500.0,690100.0,2784400.0
12367,92657,Newport Coast,Los Angeles-Long Beach-Anaheim,CA,96975,8135,2070006.0,3393400.0,706900.0,2686500.0
1547,11217,New York,New York,NY,62028,1535,1977407.0,3656000.0,1003700.0,2652300.0
11930,90069,West Hollywood,Los Angeles-Long Beach-Anaheim,CA,96050,1897,1641704.0,3155900.0,533600.0,2622300.0
11935,90212,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96088,6529,1790021.0,3285800.0,692900.0,2592900.0
11919,90049,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96030,946,1799291.0,3326400.0,759100.0,2567300.0
11956,90272,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96120,4529,1786802.0,3269800.0,721700.0,2548100.0
12767,94957,Ross,San Francisco,CA,97895,13145,2043843.0,3289200.0,750300.0,2538900.0
5176,33139,Miami Beach,Miami-Fort Lauderdale,FL,72442,85,1458362.0,2958300.0,480200.0,2478100.0
12620,94040,Mountain View,San Jose,CA,97527,1792,1160474.0,2839500.0,413200.0,2426300.0
12797,95070,Saratoga,San Jose,CA,97966,3209,1610454.0,3055900.0,633800.0,2422100.0
12369,92661,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96979,9957,1779204.0,3041900.0,619900.0,2422000.0
5183,33149,Key Biscayne,Miami-Fort Lauderdale,FL,72452,6392,1611727.0,3017700.0,602700.0,2415000.0
12783,95030,Los Gatos,San Jose,CA,97936,7363,1676351.0,3067300.0,660200.0,2407100.0
11972,90403,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96150,2071,1493532.0,2864200.0,461900.0,2402300.0
12642,94117,San Francisco,San Francisco,CA,97571,897,1461066.0,2882100.0,481000.0,2401100.0
12607,94010,Burlingame,San Francisco,CA,97501,1266,1501827.0,2981100.0,580900.0,2400200.0
11931,90077,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96058,8698,1756736.0,3159700.0,762500.0,2397200.0
12447,93108,Montecito,Santa Maria-Santa Barbara,CA,97130,7828,1991682.0,3112400.0,718900.0,2393500.0
12651,94133,San Francisco,San Francisco,CA,97587,2722,1833388.0,3072500.0,700900.0,2371600.0
12654,94303,Palo Alto,San Jose,CA,97693,2055,1137700.0,2733900.0,374300.0,2359600.0
12354,92625,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96957,6385,1713014.0,2960700.0,651300.0,2309400.0
11265,81615,Snowmass Village,Glenwood Springs,CO,93818,12099,2300179.0,3604400.0,1320700.0,2283700.0
1728,11932,Bridgehampton,New York,NY,62283,12615,1234058.0,2592100.0,312700.0,2279400.0
12770,94970,Stinson Beach,San Francisco,CA,97901,14642,1361940.0,2678700.0,411500.0,2267200.0
1564,11238,New York,New York,NY,62048,157,1520451.0,2885300.0,659200.0,2226100.0
13365,98039,Medina,Seattle,WA,99524,11978,1411566.0,2839900.0,613900.0,2226000.0
5463,34102,Naples,Naples,FL,72996,5747,1683328.0,2770000.0,545600.0,2224400.0

In [270]:
df_melt_calcs.sort_values(by='mean', ascending=False).head(50)

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min
1382,10021,New York,New York,NY,61635,273,12854267.0,19314900.0,8601100.0,10713800.0
1380,10011,New York,New York,NY,61625,21,7755844.0,12137600.0,3762100.0,8375500.0
1381,10014,New York,New York,NY,61628,509,6836902.0,10143700.0,3290000.0,6853700.0
1383,10128,New York,New York,NY,61703,22,5085436.0,8558700.0,2903800.0,5654900.0
12615,94027,Atherton,San Francisco,CA,97518,10238,3487129.0,6796500.0,1179200.0,5617300.0
11264,81611,Aspen,Glenwood Springs,CO,93816,7597,3147124.0,4766600.0,1443100.0,3323500.0
11933,90210,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96086,4817,2789977.0,5956700.0,1015400.0,4941300.0
5288,33480,Palm Beach,Miami-Fort Lauderdale,FL,72636,4724,2634498.0,4692300.0,957800.0,3734500.0
12646,94123,San Francisco,San Francisco,CA,97577,2027,2630977.0,4682300.0,849100.0,3833200.0
4824,31561,Sea Island,Brunswick,GA,71578,14623,2403194.0,2935800.0,1861800.0,1074000.0
12640,94115,San Francisco,San Francisco,CA,97569,743,2399030.0,4172600.0,794000.0,3378600.0
12636,94109,San Francisco,San Francisco,CA,97564,10,2395636.0,3813500.0,766000.0,3047500.0
11265,81615,Snowmass Village,Glenwood Springs,CO,93818,12099,2300179.0,3604400.0,1320700.0,2283700.0
11971,90402,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96149,7381,2292232.0,4179000.0,880000.0,3299000.0
12201,92067,Rancho Santa Fe,San Diego,CA,96621,8049,2170122.0,2893300.0,991000.0,1902300.0
11892,90020,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96001,986,2149644.0,3842700.0,711600.0,3131100.0
12616,94028,Portola Valley,San Francisco,CA,97519,10009,2131495.0,3721100.0,845600.0,2875500.0
12653,94301,Palo Alto,San Jose,CA,97691,5739,2084380.0,4818400.0,709500.0,4108900.0
1028,07620,Alpine,New York,NJ,60722,13901,2080074.0,3092700.0,1065600.0,2027100.0
12367,92657,Newport Coast,Los Angeles-Long Beach-Anaheim,CA,96975,8135,2070006.0,3393400.0,706900.0,2686500.0
12612,94022,Los Altos,San Jose,CA,97513,5844,2066818.0,4372600.0,795600.0,3577000.0
12767,94957,Ross,San Francisco,CA,97895,13145,2043843.0,3289200.0,750300.0,2538900.0
12447,93108,Montecito,Santa Maria-Santa Barbara,CA,97130,7828,1991682.0,3112400.0,718900.0,2393500.0
1547,11217,New York,New York,NY,62028,1535,1977407.0,3656000.0,1003700.0,2652300.0
12655,94305,Stanford,San Jose,CA,97695,8257,1918675.0,3698800.0,736900.0,2961900.0
259,02116,Boston,Boston,MA,58630,3331,1887043.0,2136500.0,1605800.0,530700.0
11953,90265,Malibu,Los Angeles-Long Beach-Anaheim,CA,96116,5262,1876195.0,3474500.0,690100.0,2784400.0
12651,94133,San Francisco,San Francisco,CA,97587,2722,1833388.0,3072500.0,700900.0,2371600.0
1752,11976,Water Mill,New York,NY,62321,11173,1803404.0,3241400.0,400000.0,2841400.0
11919,90049,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96030,946,1799291.0,3326400.0,759100.0,2567300.0
11935,90212,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96088,6529,1790021.0,3285800.0,692900.0,2592900.0
11956,90272,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96120,4529,1786802.0,3269800.0,721700.0,2548100.0
12369,92661,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96979,9957,1779204.0,3041900.0,619900.0,2422000.0
12370,92662,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96980,10499,1763324.0,2739800.0,645400.0,2094400.0
11931,90077,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96058,8698,1756736.0,3159700.0,762500.0,2397200.0
12210,92091,Rancho Santa Fe,San Diego,CA,96639,13886,1749195.0,2458000.0,743100.0,1714900.0
1559,11231,New York,New York,NY,62041,1996,1748707.0,3044500.0,862700.0,2181800.0
12753,94920,Tiburon,San Francisco,CA,97865,6946,1722498.0,2839100.0,687800.0,2151300.0
12354,92625,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96957,6385,1713014.0,2960700.0,651300.0,2309400.0
1633,11568,Old Westbury,New York,NY,62158,12836,1701147.0,2283800.0,841900.0,1441900.0
5463,34102,Naples,Naples,FL,72996,5747,1683328.0,2770000.0,545600.0,2224400.0
12783,95030,Los Gatos,San Jose,CA,97936,7363,1676351.0,3067300.0,660200.0,2407100.0
12613,94024,Los Altos,San Jose,CA,97515,5415,1665525.0,3562600.0,612200.0,2950400.0
11930,90069,West Hollywood,Los Angeles-Long Beach-Anaheim,CA,96050,1897,1641704.0,3155900.0,533600.0,2622300.0
5183,33149,Key Biscayne,Miami-Fort Lauderdale,FL,72452,6392,1611727.0,3017700.0,602700.0,2415000.0
12797,95070,Saratoga,San Jose,CA,97966,3209,1610454.0,3055900.0,633800.0,2422100.0
11895,90024,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96005,755,1596367.0,2864100.0,669700.0,2194400.0
1751,11975,Wainscott,New York,NY,62320,13865,1574227.0,3473300.0,349500.0,3123800.0
1538,11205,New York,New York,NY,62016,1435,1557881.0,2519100.0,797800.0,1721300.0
1525,11024,Great Neck,New York,NY,61986,10436,1535249.0,2164300.0,680100.0,1484200.0

In [272]:
df_melt_calcs['pct_incr'] = np.nan

In [273]:
df_melt_calcs.head()

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min,pct_incr
0,01001,Agawam,Springfield,MA,58196,5851,174510.0,223600.0,111700.0,111900.0,NaN
1,01002,Amherst,Springfield,MA,58197,4200,273152.0,353300.0,157100.0,196200.0,NaN
2,01005,Barre,Worcester,MA,58200,11214,172651.0,237500.0,103100.0,134400.0,NaN
3,01007,Belchertown,Springfield,MA,58201,6851,217938.0,271600.0,130200.0,141400.0,NaN
4,01008,Blandford,Springfield,MA,58202,14548,175320.0,227100.0,116300.0,110800.0,NaN

In [283]:
for zc in df_melt_calcs['Zip']:
    df_melt_calcs['pct_incr'].loc[df_melt_calcs['Zip'] == zc] = round(((df_melt_calcs['max-min'].loc[df_melt_calcs['Zip'] == zc] / df_melt_calcs['min'].loc[df_melt_calcs['Zip'] == zc]) * 100), 2)

In [284]:
df_melt_calcs.head()

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min,pct_incr
0,01001,Agawam,Springfield,MA,58196,5851,174510.0,223600.0,111700.0,111900.0,100.18
1,01002,Amherst,Springfield,MA,58197,4200,273152.0,353300.0,157100.0,196200.0,124.89
2,01005,Barre,Worcester,MA,58200,11214,172651.0,237500.0,103100.0,134400.0,130.36
3,01007,Belchertown,Springfield,MA,58201,6851,217938.0,271600.0,130200.0,141400.0,108.60
4,01008,Blandford,Springfield,MA,58202,14548,175320.0,227100.0,116300.0,110800.0,95.27

In [285]:
df_melt_calcs.sort_values(by='pct_incr', ascending=False).head(50)

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min,pct_incr
1542,11211,New York,New York,NY,62022,118,595167.0,1623700.0,131500.0,1492200.0,1134.75
1552,11222,New York,New York,NY,62033,1156,640048.0,1721100.0,145400.0,1575700.0,1083.70
1546,11216,New York,New York,NY,62027,476,572172.0,1598700.0,146100.0,1452600.0,994.25
970,07302,Jersey City,New York,NJ,60639,192,596591.0,1454900.0,137200.0,1317700.0,960.42
1545,11215,New York,New York,NY,62026,107,1074962.0,2288900.0,225700.0,2063200.0,914.13
1751,11975,Wainscott,New York,NY,62320,13865,1574227.0,3473300.0,349500.0,3123800.0,893.79
1727,11930,Amagansett,New York,NY,62281,11729,1462925.0,3141100.0,318400.0,2822700.0,886.53
3186,19951,Harbeson,Salisbury,DE,66102,13831,199729.0,312800.0,34500.0,278300.0,806.67
11151,80449,Hartsel,Denver,CO,93399,14218,145791.0,267700.0,30000.0,237700.0,792.33
11963,90291,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96127,1791,927643.0,2064200.0,234100.0,1830100.0,781.76
3200,20001,Washington,Washington,DC,66125,259,384944.0,793300.0,92000.0,701300.0,762.28
3053,19125,Philadelphia,Philadelphia,PA,65792,3616,108076.0,262300.0,30500.0,231800.0,760.00
1728,11932,Bridgehampton,New York,NY,62283,12615,1234058.0,2592100.0,312700.0,2279400.0,728.94
5440,33947,Rotonda West,Punta Gorda,FL,72928,7122,162566.0,318000.0,38900.0,279100.0,717.48
1752,11976,Water Mill,New York,NY,62321,11173,1803404.0,3241400.0,400000.0,2841400.0,710.35
8562,57110,Sioux Falls,Sioux Falls,SD,83143,6049,162855.0,243900.0,30100.0,213800.0,710.30
261,02120,Boston,Boston,MA,58634,7501,325403.0,710400.0,88000.0,622400.0,707.27
1551,11221,New York,New York,NY,62032,71,435431.0,1048700.0,133700.0,915000.0,684.37
1746,11963,Noyack,New York,NY,62310,7008,777611.0,1749800.0,229700.0,1520100.0,661.78
9854,71241,Farmerville,Monroe,LA,88975,7776,69565.0,129500.0,17000.0,112500.0,661.76
4682,30317,Atlanta,Atlanta,GA,71037,6651,187886.0,391600.0,51800.0,339800.0,655.98
10920,78702,Austin,Austin,TX,92615,3927,224687.0,419800.0,55600.0,364200.0,655.04
4413,29403,Charleston,Charleston,SC,70448,4679,205175.0,462700.0,61500.0,401200.0,652.36
12656,94306,Palo Alto,San Jose,CA,97696,3340,1366252.0,3285100.0,440600.0,2844500.0,645.60
12637,94110,San Francisco,San Francisco,CA,97565,77,765508.0,1594000.0,213900.0,1380100.0,645.21
4327,28762,Old Fort,Marion,NC,70205,9297,85045.0,143000.0,19200.0,123800.0,644.79
260,02119,Boston,Boston,MA,58633,3670,249929.0,512600.0,68900.0,443700.0,643.98
3201,20002,Washington,Washington,DC,66126,30,334892.0,691300.0,93400.0,597900.0,640.15
3068,19147,Philadelphia,Philadelphia,PA,65814,785,213162.0,389400.0,53300.0,336100.0,630.58
12654,94303,Palo Alto,San Jose,CA,97693,2055,1137700.0,2733900.0,374300.0,2359600.0,630.40
11908,90038,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96019,2807,600231.0,1215300.0,170000.0,1045300.0,614.88
1732,11937,East Hampton,New York,NY,62287,3335,804332.0,1533500.0,215300.0,1318200.0,612.26
12622,94043,Mountain View,San Jose,CA,97530,2581,815628.0,2074900.0,291700.0,1783200.0,611.31
11897,90026,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96007,108,480234.0,975200.0,138100.0,837100.0,606.15
3051,19123,Philadelphia,Philadelphia,PA,65790,5215,223758.0,409300.0,58000.0,351300.0,605.69
3206,20010,Washington,Washington,DC,66134,2582,401186.0,778200.0,110500.0,667700.0,604.25
1749,11968,Southampton,New York,NY,62314,6005,834370.0,1552700.0,221200.0,1331500.0,601.94
11918,90048,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96029,2397,1057737.0,2108600.0,301200.0,1807400.0,600.07
11899,90028,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96009,806,598756.0,1143700.0,165500.0,978200.0,591.06
1548,11218,New York,New York,NY,62029,261,590362.0,1220900.0,176700.0,1044200.0,590.95
12620,94040,Mountain View,San Jose,CA,97527,1792,1160474.0,2839500.0,413200.0,2426300.0,587.20
9851,71234,Downsville,Monroe,LA,88970,11097,75838.0,147400.0,21500.0,125900.0,585.58
11102,80205,Denver,Denver,CO,93282,1844,217162.0,470300.0,68600.0,401700.0,585.57
1560,11233,New York,New York,NY,62043,191,363811.0,852300.0,124500.0,727800.0,584.58
8548,57005,Brandon,Sioux Falls,SD,83068,8124,146671.0,227400.0,33400.0,194000.0,580.84
11154,80456,Jefferson,Denver,CO,93405,14686,151266.0,253800.0,37300.0,216500.0,580.43
12732,94609,Oakland,San Francisco,CA,97811,4085,513849.0,1093800.0,160800.0,933000.0,580.22
12653,94301,Palo Alto,San Jose,CA,97691,5739,2084380.0,4818400.0,709500.0,4108900.0,579.13
11891,90019,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96000,166,565863.0,1112400.0,165700.0,946700.0,571.33
1535,11106,New York,New York,NY,62009,1066,503196.0,1104300.0,164600.0,939700.0,570.90

In [286]:
df_melt_calcs['mean-min'] = np.nan

In [287]:
df_melt_calcs['max-mean'] = np.nan

In [288]:
for zc in df_melt_calcs['Zip']:
    df_melt_calcs['mean-min'].loc[df_melt_calcs['Zip'] == zc] = round(((df_melt_calcs['mean'].loc[df_melt_calcs['Zip'] == zc] - df_melt_calcs['min'].loc[df_melt_calcs['Zip'] == zc]) * 100), 2)
    df_melt_calcs['max-mean'].loc[df_melt_calcs['Zip'] == zc] = round(((df_melt_calcs['max'].loc[df_melt_calcs['Zip'] == zc] - df_melt_calcs['mean'].loc[df_melt_calcs['Zip'] == zc]) * 100), 2)

In [289]:
df_melt_calcs.head()

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min,pct_incr,mean-min,max-mean
0,01001,Agawam,Springfield,MA,58196,5851,174510.0,223600.0,111700.0,111900.0,100.18,6281000.0,4909000.0
1,01002,Amherst,Springfield,MA,58197,4200,273152.0,353300.0,157100.0,196200.0,124.89,11605200.0,8014800.0
2,01005,Barre,Worcester,MA,58200,11214,172651.0,237500.0,103100.0,134400.0,130.36,6955100.0,6484900.0
3,01007,Belchertown,Springfield,MA,58201,6851,217938.0,271600.0,130200.0,141400.0,108.60,8773800.0,5366200.0
4,01008,Blandford,Springfield,MA,58202,14548,175320.0,227100.0,116300.0,110800.0,95.27,5902000.0,5178000.0

In [290]:
df_melt_calcs.sort_values(by='mean-min', ascending=False).head(50)

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min,pct_incr,mean-min,max-mean
1382,10021,New York,New York,NY,61635,273,12854267.0,19314900.0,8601100.0,10713800.0,124.56,425316700.0,646063300.0
1380,10011,New York,New York,NY,61625,21,7755844.0,12137600.0,3762100.0,8375500.0,222.63,399374400.0,438175600.0
1381,10014,New York,New York,NY,61628,509,6836902.0,10143700.0,3290000.0,6853700.0,208.32,354690200.0,330679800.0
12615,94027,Atherton,San Francisco,CA,97518,10238,3487129.0,6796500.0,1179200.0,5617300.0,476.37,230792900.0,330937100.0
1383,10128,New York,New York,NY,61703,22,5085436.0,8558700.0,2903800.0,5654900.0,194.74,218163600.0,347326400.0
12646,94123,San Francisco,San Francisco,CA,97577,2027,2630977.0,4682300.0,849100.0,3833200.0,451.44,178187700.0,205132300.0
11933,90210,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96086,4817,2789977.0,5956700.0,1015400.0,4941300.0,486.64,177457700.0,316672300.0
11264,81611,Aspen,Glenwood Springs,CO,93816,7597,3147124.0,4766600.0,1443100.0,3323500.0,230.30,170402400.0,161947600.0
5288,33480,Palm Beach,Miami-Fort Lauderdale,FL,72636,4724,2634498.0,4692300.0,957800.0,3734500.0,389.90,167669800.0,205780200.0
12636,94109,San Francisco,San Francisco,CA,97564,10,2395636.0,3813500.0,766000.0,3047500.0,397.85,162963600.0,141786400.0
12640,94115,San Francisco,San Francisco,CA,97569,743,2399030.0,4172600.0,794000.0,3378600.0,425.52,160503000.0,177357000.0
11892,90020,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96001,986,2149644.0,3842700.0,711600.0,3131100.0,440.01,143804400.0,169305600.0
11971,90402,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96149,7381,2292232.0,4179000.0,880000.0,3299000.0,374.89,141223200.0,188676800.0
1752,11976,Water Mill,New York,NY,62321,11173,1803404.0,3241400.0,400000.0,2841400.0,710.35,140340400.0,143799600.0
12653,94301,Palo Alto,San Jose,CA,97691,5739,2084380.0,4818400.0,709500.0,4108900.0,579.13,137488000.0,273402000.0
12367,92657,Newport Coast,Los Angeles-Long Beach-Anaheim,CA,96975,8135,2070006.0,3393400.0,706900.0,2686500.0,380.04,136310600.0,132339400.0
12767,94957,Ross,San Francisco,CA,97895,13145,2043843.0,3289200.0,750300.0,2538900.0,338.38,129354300.0,124535700.0
12616,94028,Portola Valley,San Francisco,CA,97519,10009,2131495.0,3721100.0,845600.0,2875500.0,340.05,128589500.0,158960500.0
12447,93108,Montecito,Santa Maria-Santa Barbara,CA,97130,7828,1991682.0,3112400.0,718900.0,2393500.0,332.94,127278200.0,112071800.0
12612,94022,Los Altos,San Jose,CA,97513,5844,2066818.0,4372600.0,795600.0,3577000.0,449.60,127121800.0,230578200.0
1751,11975,Wainscott,New York,NY,62320,13865,1574227.0,3473300.0,349500.0,3123800.0,893.79,122472700.0,189907300.0
11953,90265,Malibu,Los Angeles-Long Beach-Anaheim,CA,96116,5262,1876195.0,3474500.0,690100.0,2784400.0,403.48,118609500.0,159830500.0
12655,94305,Stanford,San Jose,CA,97695,8257,1918675.0,3698800.0,736900.0,2961900.0,401.94,118177500.0,178012500.0
12201,92067,Rancho Santa Fe,San Diego,CA,96621,8049,2170122.0,2893300.0,991000.0,1902300.0,191.96,117912200.0,72317800.0
12369,92661,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96979,9957,1779204.0,3041900.0,619900.0,2422000.0,390.71,115930400.0,126269600.0
1727,11930,Amagansett,New York,NY,62281,11729,1462925.0,3141100.0,318400.0,2822700.0,886.53,114452500.0,167817500.0
5463,34102,Naples,Naples,FL,72996,5747,1683328.0,2770000.0,545600.0,2224400.0,407.70,113772800.0,108667200.0
12651,94133,San Francisco,San Francisco,CA,97587,2722,1833388.0,3072500.0,700900.0,2371600.0,338.36,113248800.0,123911200.0
12370,92662,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96980,10499,1763324.0,2739800.0,645400.0,2094400.0,324.51,111792400.0,97647600.0
11930,90069,West Hollywood,Los Angeles-Long Beach-Anaheim,CA,96050,1897,1641704.0,3155900.0,533600.0,2622300.0,491.44,110810400.0,151419600.0
11935,90212,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96088,6529,1790021.0,3285800.0,692900.0,2592900.0,374.21,109712100.0,149577900.0
11956,90272,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96120,4529,1786802.0,3269800.0,721700.0,2548100.0,353.07,106510200.0,148299800.0
12354,92625,Newport Beach,Los Angeles-Long Beach-Anaheim,CA,96957,6385,1713014.0,2960700.0,651300.0,2309400.0,354.58,106171400.0,124768600.0
12613,94024,Los Altos,San Jose,CA,97515,5415,1665525.0,3562600.0,612200.0,2950400.0,481.93,105332500.0,189707500.0
11919,90049,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96030,946,1799291.0,3326400.0,759100.0,2567300.0,338.20,104019100.0,152710900.0
12753,94920,Tiburon,San Francisco,CA,97865,6946,1722498.0,2839100.0,687800.0,2151300.0,312.78,103469800.0,111660200.0
11972,90403,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96150,2071,1493532.0,2864200.0,461900.0,2402300.0,520.09,103163200.0,137066800.0
12783,95030,Los Gatos,San Jose,CA,97936,7363,1676351.0,3067300.0,660200.0,2407100.0,364.60,101615100.0,139094900.0
1028,07620,Alpine,New York,NJ,60722,13901,2080074.0,3092700.0,1065600.0,2027100.0,190.23,101447400.0,101262600.0
5183,33149,Key Biscayne,Miami-Fort Lauderdale,FL,72452,6392,1611727.0,3017700.0,602700.0,2415000.0,400.70,100902700.0,140597300.0
12210,92091,Rancho Santa Fe,San Diego,CA,96639,13886,1749195.0,2458000.0,743100.0,1714900.0,230.78,100609500.0,70880500.0
11931,90077,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96058,8698,1756736.0,3159700.0,762500.0,2397200.0,314.39,99423600.0,140296400.0
12642,94117,San Francisco,San Francisco,CA,97571,897,1461066.0,2882100.0,481000.0,2401100.0,499.19,98006600.0,142103400.0
11265,81615,Snowmass Village,Glenwood Springs,CO,93818,12099,2300179.0,3604400.0,1320700.0,2283700.0,172.92,97947900.0,130422100.0
5176,33139,Miami Beach,Miami-Fort Lauderdale,FL,72442,85,1458362.0,2958300.0,480200.0,2478100.0,516.06,97816200.0,149993800.0
12797,95070,Saratoga,San Jose,CA,97966,3209,1610454.0,3055900.0,633800.0,2422100.0,382.16,97665400.0,144544600.0
1547,11217,New York,New York,NY,62028,1535,1977407.0,3656000.0,1003700.0,2652300.0,264.25,97370700.0,167859300.0
12363,92651,Laguna Beach,Los Angeles-Long Beach-Anaheim,CA,96969,3041,1390751.0,2304600.0,424400.0,1880200.0,443.03,96635100.0,91384900.0
12770,94970,Stinson Beach,San Francisco,CA,97901,14642,1361940.0,2678700.0,411500.0,2267200.0,550.96,95044000.0,131676000.0
11895,90024,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96005,755,1596367.0,2864100.0,669700.0,2194400.0,327.67,92666700.0,126773300.0

In [291]:
df_melt_calcs.sort_values(by='max-mean', ascending=False).head(50)

,Zip,City,Metro,State,RegionID,SizeRank,mean,max,min,max-min,pct_incr,mean-min,max-mean
1382,10021,New York,New York,NY,61635,273,12854267.0,19314900.0,8601100.0,10713800.0,124.56,425316700.0,646063300.0
1380,10011,New York,New York,NY,61625,21,7755844.0,12137600.0,3762100.0,8375500.0,222.63,399374400.0,438175600.0
1383,10128,New York,New York,NY,61703,22,5085436.0,8558700.0,2903800.0,5654900.0,194.74,218163600.0,347326400.0
12615,94027,Atherton,San Francisco,CA,97518,10238,3487129.0,6796500.0,1179200.0,5617300.0,476.37,230792900.0,330937100.0
1381,10014,New York,New York,NY,61628,509,6836902.0,10143700.0,3290000.0,6853700.0,208.32,354690200.0,330679800.0
11933,90210,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96086,4817,2789977.0,5956700.0,1015400.0,4941300.0,486.64,177457700.0,316672300.0
12653,94301,Palo Alto,San Jose,CA,97691,5739,2084380.0,4818400.0,709500.0,4108900.0,579.13,137488000.0,273402000.0
12612,94022,Los Altos,San Jose,CA,97513,5844,2066818.0,4372600.0,795600.0,3577000.0,449.60,127121800.0,230578200.0
5288,33480,Palm Beach,Miami-Fort Lauderdale,FL,72636,4724,2634498.0,4692300.0,957800.0,3734500.0,389.90,167669800.0,205780200.0
12646,94123,San Francisco,San Francisco,CA,97577,2027,2630977.0,4682300.0,849100.0,3833200.0,451.44,178187700.0,205132300.0
12656,94306,Palo Alto,San Jose,CA,97696,3340,1366252.0,3285100.0,440600.0,2844500.0,645.60,92565200.0,191884800.0
1751,11975,Wainscott,New York,NY,62320,13865,1574227.0,3473300.0,349500.0,3123800.0,893.79,122472700.0,189907300.0
12613,94024,Los Altos,San Jose,CA,97515,5415,1665525.0,3562600.0,612200.0,2950400.0,481.93,105332500.0,189707500.0
11971,90402,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96149,7381,2292232.0,4179000.0,880000.0,3299000.0,374.89,141223200.0,188676800.0
12655,94305,Stanford,San Jose,CA,97695,8257,1918675.0,3698800.0,736900.0,2961900.0,401.94,118177500.0,178012500.0
12640,94115,San Francisco,San Francisco,CA,97569,743,2399030.0,4172600.0,794000.0,3378600.0,425.52,160503000.0,177357000.0
11892,90020,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96001,986,2149644.0,3842700.0,711600.0,3131100.0,440.01,143804400.0,169305600.0
12620,94040,Mountain View,San Jose,CA,97527,1792,1160474.0,2839500.0,413200.0,2426300.0,587.20,74727400.0,167902600.0
1547,11217,New York,New York,NY,62028,1535,1977407.0,3656000.0,1003700.0,2652300.0,264.25,97370700.0,167859300.0
1727,11930,Amagansett,New York,NY,62281,11729,1462925.0,3141100.0,318400.0,2822700.0,886.53,114452500.0,167817500.0
11264,81611,Aspen,Glenwood Springs,CO,93816,7597,3147124.0,4766600.0,1443100.0,3323500.0,230.30,170402400.0,161947600.0
11953,90265,Malibu,Los Angeles-Long Beach-Anaheim,CA,96116,5262,1876195.0,3474500.0,690100.0,2784400.0,403.48,118609500.0,159830500.0
12654,94303,Palo Alto,San Jose,CA,97693,2055,1137700.0,2733900.0,374300.0,2359600.0,630.40,76340000.0,159620000.0
12616,94028,Portola Valley,San Francisco,CA,97519,10009,2131495.0,3721100.0,845600.0,2875500.0,340.05,128589500.0,158960500.0
11919,90049,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96030,946,1799291.0,3326400.0,759100.0,2567300.0,338.20,104019100.0,152710900.0
11930,90069,West Hollywood,Los Angeles-Long Beach-Anaheim,CA,96050,1897,1641704.0,3155900.0,533600.0,2622300.0,491.44,110810400.0,151419600.0
5176,33139,Miami Beach,Miami-Fort Lauderdale,FL,72442,85,1458362.0,2958300.0,480200.0,2478100.0,516.06,97816200.0,149993800.0
11935,90212,Beverly Hills,Los Angeles-Long Beach-Anaheim,CA,96088,6529,1790021.0,3285800.0,692900.0,2592900.0,374.21,109712100.0,149577900.0
11956,90272,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96120,4529,1786802.0,3269800.0,721700.0,2548100.0,353.07,106510200.0,148299800.0
12607,94010,Burlingame,San Francisco,CA,97501,1266,1501827.0,2981100.0,580900.0,2400200.0,413.19,92092700.0,147927300.0
12797,95070,Saratoga,San Jose,CA,97966,3209,1610454.0,3055900.0,633800.0,2422100.0,382.16,97665400.0,144544600.0
1752,11976,Water Mill,New York,NY,62321,11173,1803404.0,3241400.0,400000.0,2841400.0,710.35,140340400.0,143799600.0
13365,98039,Medina,Seattle,WA,99524,11978,1411566.0,2839900.0,613900.0,2226000.0,362.60,79766600.0,142833400.0
12642,94117,San Francisco,San Francisco,CA,97571,897,1461066.0,2882100.0,481000.0,2401100.0,499.19,98006600.0,142103400.0
12636,94109,San Francisco,San Francisco,CA,97564,10,2395636.0,3813500.0,766000.0,3047500.0,397.85,162963600.0,141786400.0
5183,33149,Key Biscayne,Miami-Fort Lauderdale,FL,72452,6392,1611727.0,3017700.0,602700.0,2415000.0,400.70,100902700.0,140597300.0
11931,90077,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96058,8698,1756736.0,3159700.0,762500.0,2397200.0,314.39,99423600.0,140296400.0
12783,95030,Los Gatos,San Jose,CA,97936,7363,1676351.0,3067300.0,660200.0,2407100.0,364.60,101615100.0,139094900.0
11972,90403,Santa Monica,Los Angeles-Long Beach-Anaheim,CA,96150,2071,1493532.0,2864200.0,461900.0,2402300.0,520.09,103163200.0,137066800.0
1564,11238,New York,New York,NY,62048,157,1520451.0,2885300.0,659200.0,2226100.0,337.70,86125100.0,136484900.0
1728,11932,Bridgehampton,New York,NY,62283,12615,1234058.0,2592100.0,312700.0,2279400.0,728.94,92135800.0,135804200.0
12614,94025,Menlo Park,San Francisco,CA,97516,1644,1208982.0,2561200.0,438100.0,2123100.0,484.62,77088200.0,135221800.0
12778,95014,Cupertino,San Jose,CA,97926,462,1147041.0,2490200.0,432400.0,2057800.0,475.90,71464100.0,134315900.0
12367,92657,Newport Coast,Los Angeles-Long Beach-Anaheim,CA,96975,8135,2070006.0,3393400.0,706900.0,2686500.0,380.04,136310600.0,132339400.0
12621,94041,Mountain View,San Jose,CA,97528,6346,933178.0,2254100.0,339200.0,1914900.0,564.53,59397800.0,132092200.0
12770,94970,Stinson Beach,San Francisco,CA,97901,14642,1361940.0,2678700.0,411500.0,2267200.0,550.96,95044000.0,131676000.0
12632,94087,Sunnyvale,San Jose,CA,97549,517,965282.0,2276300.0,361300.0,1915000.0,530.03,60398200.0,131101800.0
11265,81615,Snowmass Village,Glenwood Springs,CO,93818,12099,2300179.0,3604400.0,1320700.0,2283700.0,172.92,97947900.0,130422100.0
1559,11231,New York,New York,NY,62041,1996,1748707.0,3044500.0,862700.0,2181800.0,252.90,88600700.0,129579300.0
11895,90024,Los Angeles,Los Angeles-Long Beach-Anaheim,CA,96005,755,1596367.0,2864100.0,669700.0,2194400.0,327.67,92666700.0,126773300.0

In [292]:
df_melt_calcs.rename(columns={'pct_incr': 'pct_incr_max_over_min'}, inplace=True)

## Sorting values by zip code

In [ ]:
df_melt.sort_values("Zip")

In [ ]:
df_melt.isna().sum()

In [ ]:
df_melt['Metro'].fillna('Missing', inplace=True)
df_melt.isna().sum()

## Setting index as time (df_melt1)

In [ ]:
df_melt1 = df_melt.set_index('time')

In [ ]:
df_melt1.head()

In [ ]:
df_melt1.loc[df_melt1['Metro'] == 'Missing'].head()

## Creating US dataframes

### Creating US metro df (df_metro) with *Zip* _annual_ mean value and dropping RegionID

In [ ]:
df_melt1_no_RegID = df_melt1.drop(['RegionID'], axis=1)

In [ ]:
df_melt1_no_RegID

As the dataframe is sorted by size rank by default, starting with a view of the top 30 or so zip codes can be a good start.

In [ ]:
df_melt1_no_RegID.head(50).describe()

In [ ]:
df_melt1_no_RegID.loc[df_melt1_no_RegID['SizeRank'] == 30].describe()

In [ ]:
for i in range(1, 10):
    print(round(df_melt1_no_RegID.loc[df_melt1_no_RegID['SizeRank'] == i].describe(), 0))
    print()

In [ ]:
type(df_melt1_no_RegID.loc[df_melt1_no_RegID['SizeRank'] == 1].describe())

In [ ]:
df_metro = df_melt1_no_RegID.groupby(['Metro', 'State', 'CountyName', 'City', 'Zip']).resample('A').mean().reset_index()

In [ ]:
df_metro.head(30)

In [ ]:
df_metro.info()

In [ ]:
df_metro.nunique()

#### Creating dictionary:  zip code, size rank

In [ ]:
# First, create df with just the first entry for each zip code:

df_metro_zips_yr1 = df_metro.loc[df_metro['time']=='1996-12-31']
df_metro_zips_yr1

In [ ]:
df_metro_zips_yr1.nunique()

In [ ]:
from collections import defaultdict

dict_zips_size = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_zips_size[row['Zip']].append(row['SizeRank'])
    
print(type(dict_zips_size))

In [ ]:
print(dict_zips_size)

In [ ]:
from collections import defaultdict

dict_size_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_size_zips[row['SizeRank']].append(row['Zip'])
    
print(type(dict_size_zips))

In [ ]:
print(dict_size_zips)

In [ ]:
sorted(dict_size_zips.items())

#### Creating dict_metro_zips dictionary with zips per metro area

In [ ]:
# First, create df with just the first entry for each zip code:

df_metro_zips_yr1 = df_metro.loc[df_metro['time']=='1996-12-31']
df_metro_zips_yr1

In [ ]:
df_metro_zips_yr1.nunique()

In [ ]:
from collections import defaultdict

dict_metro_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_metro_zips[row['Metro']].append(row['Zip'])
    
print(type(dict_metro_zips))

In [ ]:
print(dict_metro_zips)

In [ ]:
for key in dict_metro_zips:
    print(f"{key}: {dict_metro_zips[key]}")

In [ ]:
len(dict_metro_zips['New York'])

In [ ]:
len(dict_metro_zips['Missing'])

#### Create dictionary containing a count of the number of zip codes in a metro area

In [ ]:
num_metro_zips = {key: len(dict_metro_zips[key]) for key in dict_metro_zips.keys()}

In [ ]:
len(num_metro_zips)

In [ ]:
# from https://code-maven.com/slides/python-programming/sort-dictionary-by-value

# # sort the keys according to the values:
# sorted_names = sorted(scores, key=scores.__getitem__)
# for k in sorted_names:
#     print("{} : {}".format(k, scores[k]))

# # Foo : 10
# # Bar : 34
# # Miu : 88

sorted_counts = sorted(num_metro_zips, key=num_metro_zips.__getitem__, reverse=True)
for k in sorted_counts:
    print(f"{k}: {num_metro_zips[k]}")

In [ ]:
# from https://code-maven.com/slides/python-programming/sort-dictionary-by-value

# # sort using a lambda expression
# sorted_names = sorted(scores, key=lambda x: scores[x])
# for k in sorted_names:
#     print("{} : {}".format(k, scores[k]))

# # Foo : 10
# # Bar : 34
# # Miu : 88

sorted_counts = sorted(num_metro_zips, key=lambda x: num_metro_zips[x], reverse=True)
for k in sorted_counts:
    print("{} : {}".format(k, num_metro_zips[k]))

# Foo : 10
# Bar : 34
# Miu : 88

### Creating US metro df (df_metro) with *Zip* _annual_ mean value and dropping RegionID and SizeRank

In [ ]:
df_melt1_no_RegIDSizeRank = df_melt1.drop(['RegionID', 'SizeRank'], axis=1)

In [ ]:
df_melt1_no_RegIDSizeRank

In [ ]:
df_metro = df_melt1_no_RegIDSizeRank.groupby(['Metro', 'State', 'CountyName', 'City', 'Zip']).resample('A').mean().reset_index()

In [ ]:
df_metro.head(20)

In [ ]:
df_metro.info()

In [ ]:
df_metro.nunique()

#### Creating dict_metro_zips dictionary with zips per metro area

In [ ]:
# First, create df with just the first entry for each zip code:

df_metro_zips_yr1 = df_metro.loc[df_metro['time']=='1996-12-31']
df_metro_zips_yr1

In [ ]:
df_metro_zips_yr1.nunique()

In [ ]:
from collections import defaultdict

dict_metro_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_metro_zips[row['Metro']].append(row['Zip'])
    
print(type(dict_metro_zips))

In [ ]:
print(dict_metro_zips)

In [ ]:
for key in dict_metro_zips:
    print(f"{key}: {dict_metro_zips[key]}")

In [ ]:
len(dict_metro_zips['New York'])

In [ ]:
len(dict_metro_zips['Missing'])

#### Create dictionary containing a count of the number of zip codes in a metro area

In [ ]:
num_metro_zips = {key: len(dict_metro_zips[key]) for key in dict_metro_zips.keys()}

In [ ]:
len(num_metro_zips)

In [ ]:
# from https://code-maven.com/slides/python-programming/sort-dictionary-by-value

# # sort the keys according to the values:
# sorted_names = sorted(scores, key=scores.__getitem__)
# for k in sorted_names:
#     print("{} : {}".format(k, scores[k]))

# # Foo : 10
# # Bar : 34
# # Miu : 88

sorted_counts = sorted(num_metro_zips, key=num_metro_zips.__getitem__, reverse=True)
for k in sorted_counts:
    print(f"{k}: {num_metro_zips[k]}")

In [ ]:
# from https://code-maven.com/slides/python-programming/sort-dictionary-by-value

# # sort using a lambda expression
# sorted_names = sorted(scores, key=lambda x: scores[x])
# for k in sorted_names:
#     print("{} : {}".format(k, scores[k]))

# # Foo : 10
# # Bar : 34
# # Miu : 88

sorted_counts = sorted(num_metro_zips, key=lambda x: num_metro_zips[x], reverse=True)
for k in sorted_counts:
    print("{} : {}".format(k, num_metro_zips[k]))

# Foo : 10
# Bar : 34
# Miu : 88

#### Creating dictionary of all US cities and their zip codes

In [ ]:
from collections import defaultdict

dict_allcities_zips = defaultdict(list)

for idx,row in df_metro_zips_yr1.iterrows():
    dict_allcities_zips[row['City']].append(row['Zip'])
    
print(type(dict_allcities_zips))

In [ ]:
# dict_allcities_zips

In [ ]:
len(dict_allcities_zips)

In [ ]:
len(dict_allcities_zips['New York'])

#### Create dictionary containing a count of the number of zip codes by city

In [ ]:
# for key in dict_allcities_zips.keys():
#     print(len(dict_allcities_zips[key]))

In [ ]:
# print(sum([len(d[x]) for x in d if isinstance(d[x], list)])) 
# print(sum([len(d[x]) for x in d])

# for key in dict_allcities_zips.keys():    
#     print(key, len(dict_allcities_zips[key]))

num_city_zips = {key: len(dict_allcities_zips[key]) for key in dict_allcities_zips.keys()}

In [ ]:
len(num_city_zips)

In [ ]:
city_zip_counts = sorted(num_city_zips, key=lambda x: num_city_zips[x], reverse=True)
for k in city_zip_counts[:30]:
    print("{} : {}".format(k, num_city_zips[k]))

In [ ]:
type(city_zip_counts)

In [ ]:
for k in city_zip_counts[:60]:
    print("{} : {}".format(k, num_city_zips[k]))

In [ ]:
# city_zip_counts = sorted(num_city_zips, key=lambda x: num_city_zips[x], reverse=True)
# for k in city_zip_counts:
#     print("{} : {}".format(k, num_city_zips[k]))

In [ ]:
# dict_city_zip_counts = dict(zip(city_zip_counts, [k: num_city_zips[key] for key in num_city_zips.keys()]))

### Creating US Metros df with *City* (df_metro_cities) _annual_ mean values (df_metro_cities)

In [ ]:
df_metro_cities = df_metro.groupby(['Metro', 'CountyName', 'City', 'time']).mean().reset_index()

In [ ]:
df_metro_cities.head(40)

In [ ]:
df_metro_cities.nunique()

In [ ]:
df_metro_cities.Metro.nunique()

In [ ]:
type(df_metro_cities.Metro)

In [ ]:
df_metro_cities.Metro.count()

#### Creating metro area list

In [ ]:
metro_list = list(set(df_metro_cities.Metro))
metro_list.sort()
metro_list[300:400]

#### Creating cities list

In [ ]:
metro_cities = list(set(df_metro_cities.City))
metro_cities.sort()
metro_cities[:10]

#### Creating dictionary of metro areas and the cities in each

In [ ]:
df_metro_yr_one = df_metro_cities.loc[df_metro_cities['time']=='1996-12-31']

In [ ]:
df_metro_yr_one

In [ ]:
from collections import defaultdict

dict_metro_cities = defaultdict(list)

for idx,row in df_metro_yr_one.iterrows():
    dict_metro_cities[row['Metro']].append(row['City'])
    
print(type(dict_metro_cities))

In [ ]:
# print(dict_metro_cities)

In [ ]:
len(dict_metro_cities)

In [ ]:
len(dict_metro_cities['New York'])

In [ ]:
dict_metro_cities['New York']

In [ ]:
len(dict_metro_cities['Chicago'])

In [ ]:
len(dict_metro_cities['Los Angeles-Long Beach-Anaheim'])

### Creating US Metros df with *Metro* (df_metro_values) _annual_ mean values

In [ ]:
df_metro_values = df_metro.groupby(['Metro', 'time']).mean().reset_index()

In [ ]:
df_metro_values.head(40)

In [ ]:
df_metro_values.loc[df_metro_values['Metro'] == 'Missing'].count()

In [ ]:
df_metro_values.info()

In [ ]:
df_metro_values.nunique()

In [ ]:
df_metro.Metro.value_counts().head(5)

#### Creating dictionary of metro areas and number of entries (proxy for size of metro area)

In [ ]:
dict_metro_size = dict(df_metro.Metro.value_counts())
dict_metro_size

In [ ]:
len(dict_metro_size)

#### Creating dictionary object of dict_metro_size

In [ ]:
dict_obj = dict_metro_size.items()
dict_obj

#### Creating list  (list of tuples) from dict_metro_size object

In [ ]:
dict_obj_list = list(dict_obj)

In [ ]:
dict_obj_list[:10]

In [ ]:
dict_obj_list[:30]

In [ ]:
dict_obj_list.pop(0)

In [ ]:
dict_obj_list[:5]

#### Creating list of the thirty largest metro areas

In [ ]:
list_tup_large_metros_30 = dict_obj_list[:30]
list_tup_large_metros_30

In [ ]:
len(list_tup_large_metros_30)

#### Creating list from [0] index in each tuple

In [ ]:
# b = map(lambda x: x[0], tup)

In [ ]:
list_tup_large_metros_30
b = map(lambda x: x[0], list_tup_large_metros_30)
large_metro_list_30 = list(b)
large_metro_list_30            # in order of size

In [ ]:
df_metro_values.head()

In [ ]:
df_metro_values.set_index('time', inplace=True)

In [ ]:
df_metro_values

#### Iterating over dictionary to plot values by largest metro areas

In [ ]:
# Here's the code for graphing over the dictionary

# for key in sorted(dict_zips_cities.keys()):
#     fig, ax = plt.subplots(figsize=(8, 4))
#     plt.title(f"{key}")
#     for val in dict_zips_cities[key]:
#         df_sac[df_sac['Zip'] == val].plot(ax = ax)
#         ax.legend(dict_zips_cities[key], ncol=3)

In [ ]:
# for metro in large_metro_list_30:
# #     fig = plt.figure(figsize=(12, 6))
#     df_metro_values[df_metro_values['Metro'] == metro].plot(figsize=(12, 6))
#     plt.title(f'{metro} Metro Area')

In [ ]:
fig = plt.figure(figsize=(18, 60))

for i, metro in enumerate(large_metro_list_30, start=1):
    ax = fig.add_subplot(15,2,i)
    df_metro_values[df_metro_values['Metro'] == metro].plot(ax = ax)
    plt.title(f'{metro} Metro Area')
    
    fig.tight_layout()

In [ ]:
list_tup_large_metros_50 = dict_obj_list[:50]
len(list_tup_large_metros_50)

In [ ]:
list_tup_large_metros_50                # in order of size
b = map(lambda x: x[0], list_tup_large_metros_50)
large_metro_list_50 = list(b)

In [ ]:
len(large_metro_list_50)

In [ ]:
#    fig = plt.figure(figsize=(12, 6))
fig = plt.figure(figsize=(18, 80))

# ax = plt.subplots(10,3)

for i, metro in enumerate(large_metro_list_50, start=1):
    ax = fig.add_subplot(25,2,i)
    df_metro_values[df_metro_values['Metro'] == metro].plot(ax = ax)
    plt.title(f'{metro} Metro Area')
    
    fig.tight_layout()

### Creating US Metro df with *Metro* (df_metro_values_state) *annual* values and state included

In [ ]:
df_metro_values_state = df_metro.groupby(['State', 'Metro', 'time']).mean().reset_index()

In [ ]:
df_metro_values_state.head(40)

### Creating US Metro df with *City* (df_metro_state_city) *annual* values and state included

In [ ]:
df_metro_state_city = df_metro.groupby(['City', 'State', 'Metro', 'time']).mean().reset_index()

In [ ]:
df_metro_state_city.sort_values(['Metro', 'City']).head(30)

## Creating Sacramento Metro dataframes

### Creating df_sac *monthly* values from original melted df before grouping by time and zip (df_melt1)

In [ ]:
df_sac = df_melt1.loc[df_melt1.Metro == 'Sacramento']

In [ ]:
df_sac

#### Creating sac_metro_cities list from df_sac

In [ ]:
sac_metro_cities = list(set(df_sac.City))
sac_metro_cities[:10]

In [ ]:
sac_metro_cities.sort()
sac_metro_cities[:10]

In [ ]:
df_sac['value'].loc[df_sac['City'] == 'Applegate'].head()

#### Creating dict_zips_cities dictionary in an attempt to graph zips by city...

In [ ]:
df_sac_yr_one = df_sac.groupby(['CountyName', 'City', 'Zip']).resample('A').mean().reset_index()

In [ ]:
df_sac_yr_one.sort_values(by=['time','City']).head(90)

#### Seeking to create the dictionary showing just the unique zip code instance rather than repeating it for each row of data)

In [ ]:
df_sac_1996 = df_sac_yr_one.loc[df_sac_yr_one['time']=='1996-12-31']
df_sac_1996

In [ ]:
df_sac_1996.info()

In [ ]:
from collections import defaultdict

dict_zips_cities = defaultdict(list)

for idx,row in df_sac_1996.iterrows():
    dict_zips_cities[row['City']].append(row['Zip'])
    
print(dict_zips_cities)

In [ ]:
for key in sorted(dict_zips_cities):
    print(f"{key}: {dict_zips_cities[key]}")

#### Iterating over dictionary to plot zips by city

In [ ]:
# Here's the for loop to iterate over dictionary

# for key in dict_zips_cities.keys():
#     for val in dict_zips_cities[key]:
#         print(val)

In [ ]:
# Here's the code for graphing over the dictionary

for key in sorted(dict_zips_cities.keys()):
    fig, ax = plt.subplots(figsize=(8, 4))
    plt.title(f"{key}")
    for val in dict_zips_cities[key]:
        df_sac[df_sac['Zip'] == val].plot(ax = ax)
        ax.legend(dict_zips_cities[key], ncol=3)

### Creating df_sac_yr_city *annual* values by *County, City* using df_melt1

In [ ]:
df_sac_yr_city = df_sac.groupby(['CountyName', 'City']).resample('A').mean().reset_index()
# df_sac_yr_city.drop(['RegionID', 'SizeRank'], axis=1, inplace=True)

In [ ]:
df_sac_yr_city

In [ ]:
df_sac_yr_city = df_sac_yr_city.set_index('time')

In [ ]:
df_sac_yr_city.head(30)

In [ ]:
df_sac_yr_city.info()

In [ ]:
df_sac_yr_city.sort_values(by=['City', 'time']).head()

In [ ]:
df_sac_yr_city.sort_values(by=['CountyName', 'City', 'time']).head(60)

In [ ]:
df_sac_yr_city.nunique()

In [ ]:
ts = df_sac_yr_city['value'].loc[df_sac_yr_city['City'] == 'Applegate']
ts
ts.plot()

### Creating df_sac_zip *monthly* value, grouped by *County, City, Zip* using df_melt1

In [ ]:
df_sac_zip = df_sac.groupby(['CountyName', 'City', 'Zip']).mean()
df_sac_zip

### Creating df_sac_yr_zip *annual* values, grouped by *City, Zip* using df_melt

In [ ]:
df_sac_yr_zip = df_sac.groupby(['City', 'Zip']).resample('A').mean()
df_sac_yr_zip[60:100]

In [ ]:
a = df_sac_yr_zip['value'].loc['Sacramento']
a

In [ ]:
b = df_sac_yr_zip.loc['Sacramento']
b.head()

In [ ]:
b.index

In [ ]:
b.info()

In [ ]:
b = b.reset_index()

In [ ]:
b = b.set_index('time')

In [ ]:
b

In [ ]:
b.info()

In [ ]:
b.Zip.unique()

In [ ]:
# fig, ax = plt.subplots(15, 8)

sac_zips = list(dict_zips_cities['Sacramento'])
print(sac_zips)
#     print(dict_zips_cities[key])
#     b.plot(figsize=(12, 6))

In [ ]:
# for zc in sac_zips:
#     print(zc, b['value'].loc[b['Zip']==zc])

#### Plotting City of Sacramento annual values by zip code

In [ ]:
figure = plt.figure(figsize=(12, 6))

for zc in sac_zips:
    plt.plot(b['value'].loc[b['Zip']==zc])

In [ ]:
# for i, j in sorted(dict_zips_cities.items()):
#     print(i, j, df_sac_city_zip['value'].loc[(df_sac_city_zip['City'] == i) & (df_sac_city_zip['Zip'] == j)])

#### Plotting annual values by *city* (no zip codes)

In [ ]:
fig, ax = plt.subplots(figsize=(15, 8))

for i in dict_zips_cities.keys():
#     for j in dict_zips_cities.values():
        ax = df_sac_yr_city['value'].loc[df_sac_yr_city['City'] == i].plot(label = i)
#     print(df_sac_yr['value'].loc[df_sac_yr['City'] == i])
        ax.legend(ncol = 3)

### Creating df_sac_yr_cty_zip *annual* values, grouped by County, City, Zip

In [ ]:
df_sac_yr_cty_zip = df_sac.groupby(['CountyName', 'City', 'Zip']).resample('A').mean().reset_index()

In [ ]:
df_sac_yr_cty_zip

In [ ]:
df_sac_yr_cty_zip = df_sac_yr_cty_zip.set_index('time')

In [ ]:
df_sac_yr_cty_zip

### Creating City DFs with *monthly* values by zip code

In [ ]:
df_1 = df_sac.loc[df_sac['City'] == sac_metro_cities[0]]
df_1.head(3)

In [ ]:
df_2 = df_sac.loc[df_sac['City'] == sac_metro_cities[1]]
df_2.head(3)

In [ ]:
df_3 = df_sac.loc[df_sac['City'] == sac_metro_cities[2]]
df_3.head(3)

In [ ]:
df_4 = df_sac.loc[df_sac['City'] == sac_metro_cities[3]]
df_4.head(3)

In [ ]:
df_5 = df_sac.loc[df_sac['City'] == sac_metro_cities[4]]
df_5.head(3)

In [ ]:
df_6 = df_sac.loc[df_sac['City'] == sac_metro_cities[5]]
df_6.head(3)

In [ ]:
df_7 = df_sac.loc[df_sac['City'] == sac_metro_cities[6]]
df_7.head(3)

In [ ]:
df_8 = df_sac.loc[df_sac['City'] == sac_metro_cities[7]]
df_8.head(3)

In [ ]:
df_9 = df_sac.loc[df_sac['City'] == sac_metro_cities[8]]
df_9.head(3)

In [ ]:
df_10 = df_sac.loc[df_sac['City'] == sac_metro_cities[9]]
df_10.head(3)

In [ ]:
df_11 = df_sac.loc[df_sac['City'] == sac_metro_cities[10]]
df_11.head(3)

In [ ]:
df_12 = df_sac.loc[df_sac['City'] == sac_metro_cities[11]]
df_12.head(3)

In [ ]:
df_13 = df_sac.loc[df_sac['City'] == sac_metro_cities[12]]
df_13.head(3)

In [ ]:
df_14 = df_sac.loc[df_sac['City'] == sac_metro_cities[13]]
df_14.head(3)

In [ ]:
df_15 = df_sac.loc[df_sac['City'] == sac_metro_cities[14]]
df_15.head(3)

In [ ]:
df_16 = df_sac.loc[df_sac['City'] == sac_metro_cities[15]]
df_16.head(3)

In [ ]:
df_17 = df_sac.loc[df_sac['City'] == sac_metro_cities[16]]
df_17.head(3)

In [ ]:
df_18 = df_sac.loc[df_sac['City'] == sac_metro_cities[17]]
df_18.head(3)

In [ ]:
df_19 = df_sac.loc[df_sac['City'] == sac_metro_cities[18]]
df_19.head(3)

In [ ]:
df_20 = df_sac.loc[df_sac['City'] == sac_metro_cities[19]]
df_20.head(3)

In [ ]:
df_21 = df_sac.loc[df_sac['City'] == sac_metro_cities[20]]
df_21.head(3)

In [ ]:
df_22 = df_sac.loc[df_sac['City'] == sac_metro_cities[21]]
df_22.head(3)

In [ ]:
df_23 = df_sac.loc[df_sac['City'] == sac_metro_cities[22]]
df_23.head(3)

In [ ]:
df_24 = df_sac.loc[df_sac['City'] == sac_metro_cities[23]]
df_24.head(3)

In [ ]:
df_25 = df_sac.loc[df_sac['City'] == sac_metro_cities[24]]
df_25.head(3)

In [ ]:
df_26 = df_sac.loc[df_sac['City'] == sac_metro_cities[25]]
df_26.head(3)

In [ ]:
df_27 = df_sac.loc[df_sac['City'] == sac_metro_cities[26]]
df_27.head(3)

In [ ]:
df_28 = df_sac.loc[df_sac['City'] == sac_metro_cities[27]]
df_28.head(3)

In [ ]:
df_29 = df_sac.loc[df_sac['City'] == sac_metro_cities[28]]
df_29.head(3)

In [ ]:
df_30 = df_sac.loc[df_sac['City'] == sac_metro_cities[29]]
df_30.head(3)

In [ ]:
df_31 = df_sac.loc[df_sac['City'] == sac_metro_cities[30]]
df_31.head(3)

In [ ]:
df_32 = df_sac.loc[df_sac['City'] == sac_metro_cities[31]]
df_32.head(3)

In [ ]:
df_33 = df_sac.loc[df_sac['City'] == sac_metro_cities[32]]
df_33.head(3)

In [ ]:
df_34 = df_sac.loc[df_sac['City'] == sac_metro_cities[33]]
df_34.head(3)

In [ ]:
df_35 = df_sac.loc[df_sac['City'] == sac_metro_cities[34]]
df_35.head(3)

In [ ]:
df_36 = df_sac.loc[df_sac['City'] == sac_metro_cities[35]]
df_36.head(3)

In [ ]:
df_37 = df_sac.loc[df_sac['City'] == sac_metro_cities[36]]
df_37.head(3)

In [ ]:
df_38 = df_sac.loc[df_sac['City'] == sac_metro_cities[37]]
df_38.head(3)

In [ ]:
df_39 = df_sac.loc[df_sac['City'] == sac_metro_cities[38]]
df_39.head(3)

In [ ]:
df_40 = df_sac.loc[df_sac['City'] == sac_metro_cities[39]]
df_40.head(3)

In [ ]:
df_41 = df_sac.loc[df_sac['City'] == sac_metro_cities[40]]
df_41.head(3)

In [ ]:
df_42 = df_sac.loc[df_sac['City'] == sac_metro_cities[41]]
df_42.head(3)

In [ ]:
df_43 = df_sac.loc[df_sac['City'] == sac_metro_cities[42]]
df_43.head(3)

In [ ]:
df_44 = df_sac.loc[df_sac['City'] == sac_metro_cities[43]]
df_44.head(3)

In [ ]:
df_45 = df_sac.loc[df_sac['City'] == sac_metro_cities[44]]
df_45.head(3)

In [ ]:
df_46 = df_sac.loc[df_sac['City'] == sac_metro_cities[45]]
df_46.head(3)

In [ ]:
df_47 = df_sac.loc[df_sac['City'] == sac_metro_cities[46]]
df_47.head(3)

In [ ]:
df_48 = df_sac.loc[df_sac['City'] == sac_metro_cities[47]]
df_48.head(3)

In [ ]:
df_49 = df_sac.loc[df_sac['City'] == sac_metro_cities[48]]
df_49.head(3)

In [ ]:
df_50 = df_sac.loc[df_sac['City'] == sac_metro_cities[49]]
df_50.head(3)

In [ ]:
df_51 = df_sac.loc[df_sac['City'] == sac_metro_cities[50]]
df_51.head(3)

In [ ]:
df_52 = df_sac.loc[df_sac['City'] == sac_metro_cities[51]]
df_52.head(3)

In [ ]:
df_53 = df_sac.loc[df_sac['City'] == sac_metro_cities[52]]
df_53.head(3)

In [ ]:
df_54 = df_sac.loc[df_sac['City'] == sac_metro_cities[53]]
df_54.head(3)

In [ ]:
df_55 = df_sac.loc[df_sac['City'] == sac_metro_cities[54]]
df_55.head(3)

In [ ]:
df_56 = df_sac.loc[df_sac['City'] == sac_metro_cities[55]]
df_56

#### Creating plot from single city df (df_56)

In [ ]:
df_56.loc['2005':'2010'].plot(figsize=(12, 8))  # plot looks weird because there are 2 zipcodes

In [ ]:
for zipcode in df_56['Zip']:     # zipcodes for Woodland
    df_56['value'].loc[df_56['Zip'] == zipcode].plot(figsize=(12, 7))
    
# Seasonality appears not to be a big factor in this city in the Sacramento Valley of California

In [ ]:
df_56_201415 = df_56.loc['2014':'2015']
df_56_201415.head(24)

In [ ]:
for zipcode in df_56_201415['Zip']:     # zipcodes for Woodland
    df_56_201415['value'].loc[df_56_201415['Zip'] == zipcode].plot(figsize=(12, 7))

    
# very little seasonality is evident

#### Plotting values by iterating through cities list

In [ ]:
fig, ax = plt.subplots(figsize=(12, 6))

for i in sac_metro_cities:
    ax = df_sac_yr_city['value'].loc[df_sac_yr_city['City'] == i].plot(label = i)
#     print(df_sac_yr['value'].loc[df_sac_yr['City'] == i])
ax.legend()

# for i in sac_metro_cities:
#     print(i)
 
#     val = [[ts_price['value']: ts_price['value'].loc[ts_price['City']==i]]]
#     ax.plot([ts_price['value'] for ts_price['value'].loc[ts_price['City']==i])

# ts_price['value'].loc[ts_price['City'] == 'Applegate']

In [ ]:
df_sac['value'].loc[df_sac['Zip'] == '95616']

In [ ]:
# Looking at a single zip code (mine)

ts = df_sac['value'].loc[df_sac['Zip'] == '95616']
ax = ts.plot(figsize=(10, 6), label = 'Raw Price')

max_ = ts.loc['2004':'2010'].idxmax()  # 625600
crash = '01-2009'
min_ = ts.loc[crash:].idxmin()


ax.axvline(max_, label='Max Price', color = 'green', ls=':')
ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
ax.legend()

In [ ]:
# function to plot the prices in a city by zip code
# first, create a df containing all the zip codes by city
# then iterate over that df

# sales_data.filter(['name','sales'])

# df_sac_yr_city.filter(['City', 'Zip'])

In [ ]:
df_sac_yr_zip

### df_melt2 -- setting time and Zip as indices

In [ ]:
# From James Irving's study group (one way to create a dataframe)

# df_melt2 = df_melt1.groupby('Zip').resample('MS').asfreq()
# df_melt2

### Creating df_sac_2 from df_melt2

In [ ]:
# df_sac_2 = df_melt2.loc[df_melt2.Metro == 'Sacramento']

In [ ]:
# df_sac_2

### Creating df_cal from df_melt2

In [ ]:
# df_cal = df_melt2.loc[df_melt2.State == 'CA']
# df_cal.head()

In [ ]:
# df_cal.Metro.unique()

In [ ]:
# met_list = []
# cty_list = []

# for i in df_cal.Metro:
#     for j in df_cal.CountyName:
#         met_list.append(i)
#         cty_list.append(j)
        
# print(met_list)
# print(cty_list)

In [ ]:
# met_list_unique = set(met_list)
# cty_list_unique = set(cty_list)

In [ ]:
# set(df_cal.Metro)

In [ ]:
# set(df_cal.CountyName)

In [ ]:
# from collections import Counter
# # Counter(df_cal.Metro)

In [ ]:
# Counter(df_cal.CountyName)

In [ ]:
# df_sac.loc[df_sac['City']=='Sacramento']

### Creating df_sac_yr with annual mean prices using df_sac from df_melt1)

In [ ]:
# df_sac_yr = df_sac.drop('Zip', axis=1)
# df_sac_yr

In [ ]:
df_sac_yr.reset_index(inplace=True, level=0, drop=True)
df_sac_yr
# df_sac_yr.groupby(pd.Grouper(freq='A')).mean()

# Step 3: EDA and Visualization

In [ ]:
# Framework from James Irving's study group for creating a plotting function that allows
# entry of zip codes of interest

def plot_ts(df_melt2, col='value', zipcodes=['95616']):
    
    fig, ax = plt.subplots()
    
    for zc in zipcodes:
        ts = df_melt2[col].loc[zc]
        ts.plot(figsize=(12, 8), label = str(zc), ax=ax)

#     max_ = ts.loc['2004':'2010'].idxmax()  # 625600
    crash = '01-2009'
#     min_ = ts.loc[crash:].idxmin()

#     ax.axvline(max_, label='Max Price', color = 'green', ls=':')
    ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
#     ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
    ax.legend()
    
    return fig, ax

fig, ax = plot_ts(df_melt2, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])

In [ ]:
df_melt2.head()

In [ ]:
# Framework from James Irving's study group

ts = df_melt2['value'].loc['95616']
ax = ts.plot(figsize=(10, 6), label = 'Raw Price')

max_ = ts.loc['2004':'2010'].idxmax()  # 625600
crash = '01-2009'
min_ = ts.loc[crash:].idxmin()

ax.axvline(max_, label='Max Price', color = 'green', ls=':')
ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
ax.legend()

In [ ]:
ts = df_melt2['value'].loc['92008']
ax = ts.plot(figsize=(10, 6), label = 'Raw Price')

max_ = ts.loc['2004':'2010'].idxmax()  # 625600
crash = '01-2009'
min_ = ts.loc[crash:].idxmin()

ax.axvline(max_, label='Max Price', color = 'green', ls=':')
ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
ax.legend()

In [ ]:
ts = df_melt2['value'].loc['90035']
ax = ts.plot(figsize=(10, 6), label = 'Raw Price')

max_ = ts.loc['2004':'2010'].idxmax()  # 625600
crash = '01-2009'
min_ = ts.loc[crash:].idxmin()

ax.axvline(max_, label='Max Price', color = 'green', ls=':')
ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
ax.legend()

In [ ]:
# Framework from James Irving's study group

def plot_ts(df_melt2, col='value', zipcodes=['95616']):
    
    fig, ax = plt.subplots()
    
    for zc in zipcodes:
        ts = df_melt2[col].loc[zc]
        ts.plot(figsize=(12, 8), label = str(zc), ax=ax)

#     max_ = ts.loc['2004':'2010'].idxmax()  # 625600
    crash = '01-2009'
#     min_ = ts.loc[crash:].idxmin()

#     ax.axvline(max_, label='Max Price', color = 'green', ls=':')
    ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
#     ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
    ax.legend()
    
    return fig, ax

fig, ax = plot_ts(df_melt2, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])

In [ ]:
df_melt2.loc['95616']

In [ ]:
df_melt2.index

In [ ]:
df_sub = df_melt2.loc[pd.IndexSlice[:, '2014-01-01':], :].copy()

In [ ]:
df_sub.head()

In [ ]:
df_sub.index

In [ ]:
df_sub.head()

## Pick a subset of data and move forward with that.

For now, I'll got with my current zip code.  It will be easy to change later if needed.

In [ ]:
df_sub.reset_index(inplace=True, level=0, drop=True)

In [ ]:
ts = df_sub.loc[df_sub['Zip']=='95616']
ts = ts['value'].rename('95616')
ts

In [ ]:
ts = ts.resample('MS').asfreq()

In [ ]:
ts.head()

In [ ]:
# ts.plot(figsize=(10, 6))

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from pandas.plotting import autocorrelation_plot, lag_plot

In [ ]:
def plot_acf_pacf(ts, figsize=(10,6), lags=15):
    fig, ax = plt.subplots(nrows=2, figsize=figsize)
    plot_acf(ts, ax=ax[0], lags=lags)
    plot_pacf(ts, ax=ax[1], lags=lags)
    plt.tight_layout()
    
    for a in ax:
        a.xaxis.set_major_locator(mpl.ticker.MaxNLocator(min_n_ticks=lags, integer=True))
        a.xaxis.grid()
    
plot_acf_pacf(ts)

In [ ]:
decomp = seasonal_decompose(ts)
ts_seasonal = decomp.seasonal

ax = ts_seasonal.plot()
fig = ax.get_figure()
fig.set_size_inches(10,4)

min_ = ts_seasonal.idxmin()
max_ = ts_seasonal.idxmax()
max_2 = ts_seasonal.loc[min_:].idxmax()
min_2 = ts_seasonal.loc[max_2:].idxmin()


ax.axvline(min_, label=min_, c='orange')
ax.axvline(max_, c='orange', ls=':')
ax.axvline(min_2, c='orange')
ax.axvline(max_2, c='orange', ls=':')

period = min_2 - min_ 
ax.set_title(f'Season Length = {period}')

# Step 4:  ARIMA Modeling

In [ ]:
mpl.rcParams['figure.figsize']=(12, 5)
ts.plot()
plt.figure()

for i in range(3):
    ax = ts.diff(i).plot(label = i)
#     ax.set

plt.legend()

In [ ]:
import itertools

p_range = range(0, 10)
q_range = range(0, 10)
d_range = range(1, 3)
m_range = (0, 6, 12)

pdq = list(itertools.product(p_range, d_range, q_range))
PDQM = list(itertools.product(p_range, d_range, q_range, m_range))
PDQM[:10]

In [ ]:
def make_pdq_pdqm(p_range=(0,4), d_range=(0,3), q_range=(0,4), make_seasonal=True,
                  m_values=(0,12)):
    import itertools
    ps =range(p_range[0],p_range[1])
    ds =range(d_range[0],d_range[1])
    qs =range(q_range[0],q_range[1])
    
    params = {}
    params['pdq'] = list(itertools.product(ps,ds,qs))
    
    if make_seasonal:
        params['PDQm'] = list(itertools.product(ps,ds,qs,m_values))
    return params

params = make_pdq_pdqm()
print(params.keys())
print(params['pdq'][:10])
params['PDQm'][:10]

In [ ]:
def get_train_test_split_index(ts, TEST_SIZE=0.1,min_test_ts=2):
    import math
    idx_split = math.floor(len(ts.index)*(1-TEST_SIZE))
    
    num_test_ts=len(ts.iloc[idx_split:])
    if num_test_ts<min_test_ts:
        print(f'[!] Warning: using TEST_SIZE={TEST_SIZE} produced {num_test_ts} test timestamps.')
        print("- Overriding TEST_SIZE and using min_test_ts instead.")
        idx_split = len(ts)-min_test_ts
    
    return idx_split

def train_test_split_ts(ts, TEST_SIZE = 0.2, min_test_ts = 2):
    idx_split = get_train_test_split_index(ts, TEST_SIZE = TEST_SIZE, min_test_ts = min_test_ts)
    ts_train = ts.iloc[:idx_split]
    ts_test = ts.iloc[idx_split:]
    return ts_train, ts_test

In [ ]:
ts_train, ts_test = train_test_split_ts(ts)
len(ts_train), len(ts_test)

In [ ]:
def get_now(return_dt = True, return_str=True, show=False):
    import datetime as dt
    import tzlocal as tz
    now=dt.datetime.now(tz=tz.get_localzone())
    str_time =now.strftime('%m/%d/%Y - %I:%M:%S %p')
    if show:
        print(str_time)
    
    output=[]
    if return_dt:
        output.append(now)
        
    if return_str:
        output.append(str_time)
    return output[:]

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
def grid_search_sarimax(ts_train,pdq=None,pdqm=None,order_dict=None,
                        verbose=False, model_kws={}):

    from tqdm import trange
    
    if (pdq is None) & (order_dict is not None):
        pdq= order_dict['pdq']
    if (pdqm is None) & (order_dict is not None):
        pdqm= order_dict['PDQm']

#     import tqdm
#     from tqdm import trange

    start,start_str = get_now(return_dt=True, return_str=True)
    print(f'[i] STARTING GRID SEARCH @ {start_str}:')

    res = [['pdq','PDQM','AIC']]
    for i in trange((len(pdq))):
        comb = pdq[i]
        
        for combs in pdqm:
            try: 
                model = SARIMAX(ts_train, order=comb, 
                               seasonal_orde =combs,enforce_stationarity=False,
                               enforce_invertibility=False,**model_kws)
                
                output= model.fit()
                res.append([comb,combs,output.aic])
            except:
                if verbose:
                    print(f"[!] Error running ({comb})({combs})")
                continue
    end,end_str = get_now(return_dt=True, return_str=True)
    elapsed = end-start
    print(f"[i] GRID SEARCH FINISHED AT {end_str}")
    print(f"\tTotal Time: {elapsed}")

    try:
        df_res =fs.list2df(res)
        return df_res
    
    except:
        print('Error converting to df. Returning as list.')
        return res

In [ ]:
# res = grid_search_sarimax(ts_train, order_dict=params) #pdq, pdqm

In [ ]:
## Project Notebook Settings
# pd.set_option('display.max_columns',0)

# import warnings
# warnings.filterwarnings('ignore')

# plt.style.use('seaborn-notebook')

# Step 5: Interpreting Results

# Ancillary Functions

## Setting time and Zip as indices (df_melt2)

In [ ]:
# From James Irving's study group (one way to create a dataframe)

df_melt2 = df_melt1.groupby('Zip').resample('MS').asfreq()
df_melt2

## Creating df_sac_2 from df_melt2

In [ ]:
df_sac_2 = df_melt2.loc[df_melt2.Metro == 'Sacramento']

In [ ]:
df_sac_2

## Creating df_cal from df_melt2

In [ ]:
df_cal = df_melt2.loc[df_melt2.State == 'CA']
df_cal.head()

In [ ]:
df_cal.Metro.unique()

In [ ]:
# met_list = []
# cty_list = []

# for i in df_cal.Metro:
#     for j in df_cal.CountyName:
#         met_list.append(i)
#         cty_list.append(j)
        
# print(met_list)
# print(cty_list)

In [ ]:
# met_list_unique = set(met_list)
# cty_list_unique = set(cty_list)

In [ ]:
# set(df_cal.Metro)

In [ ]:
# set(df_cal.CountyName)

In [ ]:
# from collections import Counter
# # Counter(df_cal.Metro)

In [ ]:
# Counter(df_cal.CountyName)

In [ ]:
# pd.set_option('display.max_rows', 500)

In [ ]:
# pd.get_option("display.max_rows")

In [ ]:
df_sac.loc[df_sac['City']=='Sacramento']

## Creating df_sac_yr with annual mean prices using df_sac from df_melt1)

In [ ]:
df_sac_yr = df_sac.drop('Zip', axis=1)
df_sac_yr

In [ ]:
df_sac_yr.reset_index(inplace=True, level=0, drop=True)
df_sac_yr
# df_sac_yr.groupby(pd.Grouper(freq='A')).mean()

In [ ]:
# Framework from James Irving's study group for creating a plotting function that allows
# entry of zip codes of interest

def plot_ts(df_melt2, col='value', zipcodes=['95616']):
    
    fig, ax = plt.subplots()
    
    for zc in zipcodes:
        ts = df_melt2[col].loc[zc]
        ts.plot(figsize=(12, 8), label = str(zc), ax=ax)

#     max_ = ts.loc['2004':'2010'].idxmax()  # 625600
    crash = '01-2009'
#     min_ = ts.loc[crash:].idxmin()

#     ax.axvline(max_, label='Max Price', color = 'green', ls=':')
    ax.axvline(crash, label = 'Housing Index Drops', color='red', ls=':')
#     ax.axvline(min_, label=f'Min Price Post Crash {min_}', color = 'black')
    ax.legend()
    
    return fig, ax

fig, ax = plot_ts(df_melt2, zipcodes=['95616', '92008', '90035', '90025', '60625', '57701'])

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Mod-4-Project---Starter-Notebook" data-toc-modified-id="Mod-4-Project---Starter-Notebook-1">Mod 4 Project - Starter Notebook</a></span></li><li><span><a href="#Some-Notes-Before-Starting" data-toc-modified-id="Some-Notes-Before-Starting-2">Some Notes Before Starting</a></span><ul class="toc-item"><li><span><a href="#Wide-Format-vs-Long-Format" data-toc-modified-id="Wide-Format-vs-Long-Format-2.1">Wide Format vs Long Format</a></span></li></ul></li><li><span><a href="#Helper-Functions-Provided" data-toc-modified-id="Helper-Functions-Provided-3">Helper Functions Provided</a></span></li><li><span><a href="#Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes" data-toc-modified-id="Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes-4">Step 1: Load the Data/Filtering for Chosen Zipcodes</a></span></li><li><span><a href="#Step-2:-Data-Preprocessing" data-toc-modified-id="Step-2:-Data-Preprocessing-5">Step 2: Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Fix-problem-with-ZIP-codes-beginning-with-'0'" data-toc-modified-id="Fix-problem-with-ZIP-codes-beginning-with-'0'-5.1">Fix problem with ZIP codes beginning with '0'</a></span></li><li><span><a href="#Melt-Function" data-toc-modified-id="Melt-Function-5.2">Melt Function</a></span></li><li><span><a href="#Setting-index-as-time-(df_melt1)" data-toc-modified-id="Setting-index-as-time-(df_melt1)-5.3">Setting index as time (df_melt1)</a></span></li><li><span><a href="#Creating-df_sac-monthly-values-from-original-melted-df-before-grouping-by-time-and-zip-(df_melt1)" data-toc-modified-id="Creating-df_sac-monthly-values-from-original-melted-df-before-grouping-by-time-and-zip-(df_melt1)-5.4">Creating df_sac <em>monthly</em> values from original melted df before grouping by time and zip (df_melt1)</a></span><ul class="toc-item"><li><span><a href="#Dropping-RegionID,-Metro,-and-SizeRank" data-toc-modified-id="Dropping-RegionID,-Metro,-and-SizeRank-5.4.1">Dropping RegionID, Metro, and SizeRank</a></span></li><li><span><a href="#df_sac-sorted-by-zip-and-time" data-toc-modified-id="df_sac-sorted-by-zip-and-time-5.4.2">df_sac sorted by zip and time</a></span></li><li><span><a href="#Creating-sac_metro_cities-list-from-df_sac" data-toc-modified-id="Creating-sac_metro_cities-list-from-df_sac-5.4.3">Creating sac_metro_cities list from df_sac</a></span></li><li><span><a href="#Creating-dict_zips_cities-dictionary-in-an-attempt-to-graph-zips-by-city..." data-toc-modified-id="Creating-dict_zips_cities-dictionary-in-an-attempt-to-graph-zips-by-city...-5.4.4">Creating dict_zips_cities dictionary in an attempt to graph zips by city...</a></span></li><li><span><a href="#Iterating-over-dictionary-to-plot-zips-by-city" data-toc-modified-id="Iterating-over-dictionary-to-plot-zips-by-city-5.4.5">Iterating over dictionary to plot zips by city</a></span></li></ul></li><li><span><a href="#Creating-df_sac_yr_city-annual-values-by-County,-City-using-df_melt1" data-toc-modified-id="Creating-df_sac_yr_city-annual-values-by-County,-City-using-df_melt1-5.5">Creating df_sac_yr_city <em>annual</em> values by <em>County, City</em> using df_melt1</a></span></li><li><span><a href="#Creating-df_sac_zip-monthly-value,-grouped-by-County,-City,-Zip-using-df_melt1" data-toc-modified-id="Creating-df_sac_zip-monthly-value,-grouped-by-County,-City,-Zip-using-df_melt1-5.6">Creating df_sac_zip <em>monthly</em> value, grouped by <em>County, City, Zip</em> using df_melt1</a></span></li><li><span><a href="#Creating-df_sac_yr_zip-annual-values,-grouped-by-City,-Zip-using-df_melt" data-toc-modified-id="Creating-df_sac_yr_zip-annual-values,-grouped-by-City,-Zip-using-df_melt-5.7">Creating df_sac_yr_zip <em>annual</em> values, grouped by <em>City, Zip</em> using df_melt</a></span><ul class="toc-item"><li><span><a href="#Plotting-City-of-Sacramento-annual-values-by-zip-code" data-toc-modified-id="Plotting-City-of-Sacramento-annual-values-by-zip-code-5.7.1">Plotting City of Sacramento annual values by zip code</a></span></li><li><span><a href="#Plotting-annual-values-by-city-(no-zip-codes)" data-toc-modified-id="Plotting-annual-values-by-city-(no-zip-codes)-5.7.2">Plotting annual values by <em>city</em> (no zip codes)</a></span></li></ul></li><li><span><a href="#Creating-df_sac_yr_cty_zip-annual-values,-grouped-by-County,-City,-Zip" data-toc-modified-id="Creating-df_sac_yr_cty_zip-annual-values,-grouped-by-County,-City,-Zip-5.8">Creating df_sac_yr_cty_zip <em>annual</em> values, grouped by County, City, Zip</a></span></li><li><span><a href="#Creating-City-DFs-with-monthly-values-by-zip-code" data-toc-modified-id="Creating-City-DFs-with-monthly-values-by-zip-code-5.9">Creating City DFs with <em>monthly</em> values by zip code</a></span><ul class="toc-item"><li><span><a href="#Creating-plot-from-single-city-df-(df_56)" data-toc-modified-id="Creating-plot-from-single-city-df-(df_56)-5.9.1">Creating plot from single city df (df_56)</a></span></li><li><span><a href="#Plotting-values-by-iterating-through-cities-list" data-toc-modified-id="Plotting-values-by-iterating-through-cities-list-5.9.2">Plotting values by iterating through cities list</a></span></li></ul></li><li><span><a href="#Setting-time-and-Zip-as-indices-(df_melt2)" data-toc-modified-id="Setting-time-and-Zip-as-indices-(df_melt2)-5.10">Setting time and Zip as indices (df_melt2)</a></span></li><li><span><a href="#Creating-df_sac_2-from-df_melt2" data-toc-modified-id="Creating-df_sac_2-from-df_melt2-5.11">Creating df_sac_2 from df_melt2</a></span></li><li><span><a href="#Creating-df_cal-from-df_melt2" data-toc-modified-id="Creating-df_cal-from-df_melt2-5.12">Creating df_cal from df_melt2</a></span></li><li><span><a href="#Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)" data-toc-modified-id="Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)-5.13">Creating df_sac_yr with annual mean prices using df_sac from df_melt1)</a></span></li></ul></li><li><span><a href="#Step-3:-EDA-and-Visualization" data-toc-modified-id="Step-3:-EDA-and-Visualization-6">Step 3: EDA and Visualization</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Pick-a-subset-of-data-and-move-forward-with-that." data-toc-modified-id="Pick-a-subset-of-data-and-move-forward-with-that.-6.0.0.1">Pick a subset of data and move forward with that.</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Step-4:--ARIMA-Modeling" data-toc-modified-id="Step-4:--ARIMA-Modeling-7">Step 4:  ARIMA Modeling</a></span></li><li><span><a href="#Step-5:-Interpreting-Results" data-toc-modified-id="Step-5:-Interpreting-Results-8">Step 5: Interpreting Results</a></span></li><li><span><a href="#Ancillary-Functions" data-toc-modified-id="Ancillary-Functions-9">Ancillary Functions</a></span><ul class="toc-item"><li><span><a href="#Setting-time-and-Zip-as-indices-(df_melt2)" data-toc-modified-id="Setting-time-and-Zip-as-indices-(df_melt2)-9.1">Setting time and Zip as indices (df_melt2)</a></span></li><li><span><a href="#Creating-df_sac_2-from-df_melt2" data-toc-modified-id="Creating-df_sac_2-from-df_melt2-9.2">Creating df_sac_2 from df_melt2</a></span></li><li><span><a href="#Creating-df_cal-from-df_melt2" data-toc-modified-id="Creating-df_cal-from-df_melt2-9.3">Creating df_cal from df_melt2</a></span></li><li><span><a href="#Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)" data-toc-modified-id="Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)-9.4">Creating df_sac_yr with annual mean prices using df_sac from df_melt1)</a></span></li></ul></li></ul></div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Mod-4-Project---Starter-Notebook" data-toc-modified-id="Mod-4-Project---Starter-Notebook-1">Mod 4 Project - Starter Notebook</a></span></li><li><span><a href="#Some-Notes-Before-Starting" data-toc-modified-id="Some-Notes-Before-Starting-2">Some Notes Before Starting</a></span><ul class="toc-item"><li><span><a href="#Wide-Format-vs-Long-Format" data-toc-modified-id="Wide-Format-vs-Long-Format-2.1">Wide Format vs Long Format</a></span></li></ul></li><li><span><a href="#Helper-Functions-Provided" data-toc-modified-id="Helper-Functions-Provided-3">Helper Functions Provided</a></span></li><li><span><a href="#Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes" data-toc-modified-id="Step-1:-Load-the-Data/Filtering-for-Chosen-Zipcodes-4">Step 1: Load the Data/Filtering for Chosen Zipcodes</a></span></li><li><span><a href="#Step-2:-Data-Preprocessing" data-toc-modified-id="Step-2:-Data-Preprocessing-5">Step 2: Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Fix-problem-with-ZIP-codes-beginning-with-'0'" data-toc-modified-id="Fix-problem-with-ZIP-codes-beginning-with-'0'-5.1">Fix problem with ZIP codes beginning with '0'</a></span></li><li><span><a href="#Melt-Function" data-toc-modified-id="Melt-Function-5.2">Melt Function</a></span></li><li><span><a href="#Setting-index-as-time-(df_melt1)" data-toc-modified-id="Setting-index-as-time-(df_melt1)-5.3">Setting index as time (df_melt1)</a></span></li><li><span><a href="#Creating-dataframes" data-toc-modified-id="Creating-dataframes-5.4">Creating dataframes</a></span><ul class="toc-item"><li><span><a href="#Creating-US-metro-df-(df_metro)-with-Zip-annual-mean-value-and-dropping-RegionID-and-SizeRank" data-toc-modified-id="Creating-US-metro-df-(df_metro)-with-Zip-annual-mean-value-and-dropping-RegionID-and-SizeRank-5.4.1">Creating US metro df (df_metro) with <em>Zip</em> <em>annual</em> mean value and dropping RegionID and SizeRank</a></span><ul class="toc-item"><li><span><a href="#Creating-dict_metro_zips-dictionary-with-zips-per-metro-area" data-toc-modified-id="Creating-dict_metro_zips-dictionary-with-zips-per-metro-area-5.4.1.1">Creating dict_metro_zips dictionary with zips per metro area</a></span></li><li><span><a href="#Create-dictionary-containing-a-count-of-the-number-of-zip-codes-in-a-metro-area" data-toc-modified-id="Create-dictionary-containing-a-count-of-the-number-of-zip-codes-in-a-metro-area-5.4.1.2">Create dictionary containing a count of the number of zip codes in a metro area</a></span></li><li><span><a href="#Creating-dictionary-of-all-US-cities-and-their-zip-codes" data-toc-modified-id="Creating-dictionary-of-all-US-cities-and-their-zip-codes-5.4.1.3">Creating dictionary of all US cities and their zip codes</a></span></li><li><span><a href="#Create-dictionary-containing-a-count-of-the-number-of-zip-codes-by-city" data-toc-modified-id="Create-dictionary-containing-a-count-of-the-number-of-zip-codes-by-city-5.4.1.4">Create dictionary containing a count of the number of zip codes by city</a></span></li></ul></li><li><span><a href="#Creating-US-Metros-df-with-City-(df_metro_cities)-annual-mean-values-(df_metro_cities)" data-toc-modified-id="Creating-US-Metros-df-with-City-(df_metro_cities)-annual-mean-values-(df_metro_cities)-5.4.2">Creating US Metros df with <em>City</em> (df_metro_cities) <em>annual</em> mean values (df_metro_cities)</a></span><ul class="toc-item"><li><span><a href="#Creating-metro-area-list" data-toc-modified-id="Creating-metro-area-list-5.4.2.1">Creating metro area list</a></span></li><li><span><a href="#Creating-cities-list" data-toc-modified-id="Creating-cities-list-5.4.2.2">Creating cities list</a></span></li><li><span><a href="#Creating-dictionary-of-metro-areas-and-the-cities-in-each" data-toc-modified-id="Creating-dictionary-of-metro-areas-and-the-cities-in-each-5.4.2.3">Creating dictionary of metro areas and the cities in each</a></span></li></ul></li><li><span><a href="#Creating-US-Metros-df-with-Metro-(df_metro_values)-annual-mean-values" data-toc-modified-id="Creating-US-Metros-df-with-Metro-(df_metro_values)-annual-mean-values-5.4.3">Creating US Metros df with <em>Metro</em> (df_metro_values) <em>annual</em> mean values</a></span><ul class="toc-item"><li><span><a href="#Creating-dictionary-of-metro-areas-and-number-of-entries-(proxy-for-size-of-metro-area)" data-toc-modified-id="Creating-dictionary-of-metro-areas-and-number-of-entries-(proxy-for-size-of-metro-area)-5.4.3.1">Creating dictionary of metro areas and number of entries (proxy for size of metro area)</a></span></li><li><span><a href="#Creating-dictionary-object-of-dict_metro_size" data-toc-modified-id="Creating-dictionary-object-of-dict_metro_size-5.4.3.2">Creating dictionary object of dict_metro_size</a></span></li><li><span><a href="#Creating-list--(list-of-tuples)-from-dict_metro_size-object" data-toc-modified-id="Creating-list--(list-of-tuples)-from-dict_metro_size-object-5.4.3.3">Creating list  (list of tuples) from dict_metro_size object</a></span></li><li><span><a href="#Creating-list-of-the-thirty-largest-metro-areas" data-toc-modified-id="Creating-list-of-the-thirty-largest-metro-areas-5.4.3.4">Creating list of the thirty largest metro areas</a></span></li><li><span><a href="#Creating-list-from-[0]-index-in-each-tuple" data-toc-modified-id="Creating-list-from-[0]-index-in-each-tuple-5.4.3.5">Creating list from [0] index in each tuple</a></span></li><li><span><a href="#Iterating-over-dictionary-to-plot-values-by-largest-metro-areas" data-toc-modified-id="Iterating-over-dictionary-to-plot-values-by-largest-metro-areas-5.4.3.6">Iterating over dictionary to plot values by largest metro areas</a></span></li></ul></li><li><span><a href="#Creating-US-Metro-df-with-Metro-(df_metro_values_state)-annual-values-and-state-included" data-toc-modified-id="Creating-US-Metro-df-with-Metro-(df_metro_values_state)-annual-values-and-state-included-5.4.4">Creating US Metro df with <em>Metro</em> (df_metro_values_state) <em>annual</em> values and state included</a></span></li><li><span><a href="#Creating-US-Metro-df-with-City-(df_metro_state_city)-annual-values-and-state-included" data-toc-modified-id="Creating-US-Metro-df-with-City-(df_metro_state_city)-annual-values-and-state-included-5.4.5">Creating US Metro df with <em>City</em> (df_metro_state_city) <em>annual</em> values and state included</a></span></li><li><span><a href="#Creating-df_sac-monthly-values-from-original-melted-df-before-grouping-by-time-and-zip-(df_melt1)" data-toc-modified-id="Creating-df_sac-monthly-values-from-original-melted-df-before-grouping-by-time-and-zip-(df_melt1)-5.4.6">Creating df_sac <em>monthly</em> values from original melted df before grouping by time and zip (df_melt1)</a></span><ul class="toc-item"><li><span><a href="#Creating-sac_metro_cities-list-from-df_sac" data-toc-modified-id="Creating-sac_metro_cities-list-from-df_sac-5.4.6.1">Creating sac_metro_cities list from df_sac</a></span></li><li><span><a href="#Creating-dict_zips_cities-dictionary-in-an-attempt-to-graph-zips-by-city..." data-toc-modified-id="Creating-dict_zips_cities-dictionary-in-an-attempt-to-graph-zips-by-city...-5.4.6.2">Creating dict_zips_cities dictionary in an attempt to graph zips by city...</a></span></li><li><span><a href="#Iterating-over-dictionary-to-plot-zips-by-city" data-toc-modified-id="Iterating-over-dictionary-to-plot-zips-by-city-5.4.6.3">Iterating over dictionary to plot zips by city</a></span></li></ul></li><li><span><a href="#Creating-df_sac_yr_city-annual-values-by-County,-City-using-df_melt1" data-toc-modified-id="Creating-df_sac_yr_city-annual-values-by-County,-City-using-df_melt1-5.4.7">Creating df_sac_yr_city <em>annual</em> values by <em>County, City</em> using df_melt1</a></span></li><li><span><a href="#Creating-df_sac_zip-monthly-value,-grouped-by-County,-City,-Zip-using-df_melt1" data-toc-modified-id="Creating-df_sac_zip-monthly-value,-grouped-by-County,-City,-Zip-using-df_melt1-5.4.8">Creating df_sac_zip <em>monthly</em> value, grouped by <em>County, City, Zip</em> using df_melt1</a></span></li><li><span><a href="#Creating-df_sac_yr_zip-annual-values,-grouped-by-City,-Zip-using-df_melt" data-toc-modified-id="Creating-df_sac_yr_zip-annual-values,-grouped-by-City,-Zip-using-df_melt-5.4.9">Creating df_sac_yr_zip <em>annual</em> values, grouped by <em>City, Zip</em> using df_melt</a></span><ul class="toc-item"><li><span><a href="#Plotting-City-of-Sacramento-annual-values-by-zip-code" data-toc-modified-id="Plotting-City-of-Sacramento-annual-values-by-zip-code-5.4.9.1">Plotting City of Sacramento annual values by zip code</a></span></li><li><span><a href="#Plotting-annual-values-by-city-(no-zip-codes)" data-toc-modified-id="Plotting-annual-values-by-city-(no-zip-codes)-5.4.9.2">Plotting annual values by <em>city</em> (no zip codes)</a></span></li></ul></li><li><span><a href="#Creating-df_sac_yr_cty_zip-annual-values,-grouped-by-County,-City,-Zip" data-toc-modified-id="Creating-df_sac_yr_cty_zip-annual-values,-grouped-by-County,-City,-Zip-5.4.10">Creating df_sac_yr_cty_zip <em>annual</em> values, grouped by County, City, Zip</a></span></li><li><span><a href="#Creating-City-DFs-with-monthly-values-by-zip-code" data-toc-modified-id="Creating-City-DFs-with-monthly-values-by-zip-code-5.4.11">Creating City DFs with <em>monthly</em> values by zip code</a></span><ul class="toc-item"><li><span><a href="#Creating-plot-from-single-city-df-(df_56)" data-toc-modified-id="Creating-plot-from-single-city-df-(df_56)-5.4.11.1">Creating plot from single city df (df_56)</a></span></li><li><span><a href="#Plotting-values-by-iterating-through-cities-list" data-toc-modified-id="Plotting-values-by-iterating-through-cities-list-5.4.11.2">Plotting values by iterating through cities list</a></span></li></ul></li><li><span><a href="#Setting-time-and-Zip-as-indices-(df_melt2)" data-toc-modified-id="Setting-time-and-Zip-as-indices-(df_melt2)-5.4.12">Setting time and Zip as indices (df_melt2)</a></span></li><li><span><a href="#Creating-df_sac_2-from-df_melt2" data-toc-modified-id="Creating-df_sac_2-from-df_melt2-5.4.13">Creating df_sac_2 from df_melt2</a></span></li><li><span><a href="#Creating-df_cal-from-df_melt2" data-toc-modified-id="Creating-df_cal-from-df_melt2-5.4.14">Creating df_cal from df_melt2</a></span></li><li><span><a href="#Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)" data-toc-modified-id="Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)-5.4.15">Creating df_sac_yr with annual mean prices using df_sac from df_melt1)</a></span></li></ul></li></ul></li><li><span><a href="#Step-3:-EDA-and-Visualization" data-toc-modified-id="Step-3:-EDA-and-Visualization-6">Step 3: EDA and Visualization</a></span><ul class="toc-item"><li><span><a href="#Pick-a-subset-of-data-and-move-forward-with-that." data-toc-modified-id="Pick-a-subset-of-data-and-move-forward-with-that.-6.1">Pick a subset of data and move forward with that.</a></span></li></ul></li><li><span><a href="#Step-4:--ARIMA-Modeling" data-toc-modified-id="Step-4:--ARIMA-Modeling-7">Step 4:  ARIMA Modeling</a></span></li><li><span><a href="#Step-5:-Interpreting-Results" data-toc-modified-id="Step-5:-Interpreting-Results-8">Step 5: Interpreting Results</a></span></li><li><span><a href="#Ancillary-Functions" data-toc-modified-id="Ancillary-Functions-9">Ancillary Functions</a></span><ul class="toc-item"><li><span><a href="#Setting-time-and-Zip-as-indices-(df_melt2)" data-toc-modified-id="Setting-time-and-Zip-as-indices-(df_melt2)-9.1">Setting time and Zip as indices (df_melt2)</a></span></li><li><span><a href="#Creating-df_sac_2-from-df_melt2" data-toc-modified-id="Creating-df_sac_2-from-df_melt2-9.2">Creating df_sac_2 from df_melt2</a></span></li><li><span><a href="#Creating-df_cal-from-df_melt2" data-toc-modified-id="Creating-df_cal-from-df_melt2-9.3">Creating df_cal from df_melt2</a></span></li><li><span><a href="#Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)" data-toc-modified-id="Creating-df_sac_yr-with-annual-mean-prices-using-df_sac-from-df_melt1)-9.4">Creating df_sac_yr with annual mean prices using df_sac from df_melt1)</a></span></li></ul></li></ul></div>